gunicorn~=20.0
flask~=2.0
flask-babel~=2.0
flask-assets~=2.0
jsmin~=3.0
pyscss~=1.4.0
cssutils~=2.6.0
requests~=2.0
beautifulsoup4~=4.11.0
lxml~=4.9.0
musicbrainzngs~=0.7.0
pillow~=9.2.0
pillow-avif-plugin~=1.2.0
bcrypt~=4.0
yt-dlp
