body, html {
    height: 100vh;
    width: 100vw;
    margin: 0;

    /* De scale: 1.1 voor #bg-image veroorzaakt scroll bars, geen idee hoe ik dat moet fixen. Verberg ze gewoon! */
    overflow: hidden;
}

h3, p, label {
    font-family: Verdana, sans-serif;
}

#bg-image, #album-cover {
    background-image: url("/get_album_cover?song_title=no%20music");
}

#bg-image {
    filter: blur(8em);
    height: 100%;
    width: 100%;

    z-index: -1;

    /* blur heeft witte randen, vergroot de achtergrond om dit te verbergen */
    scale: 1.2;
}

.background-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#album-cover {
    height: 40vw;
    width: 40vw;
}

.sidebar {
    position: absolute;
    top: 0;
    width: calc(50vw - 6em);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left-sidebar {
    left: 3em;
}

#right-sidebar {
    right: 3em;
}

input[type=checkbox] {
    height: 1.75em;
    width: 1.75em;
}

.controls {
    background: rgba(255, 255, 255, 0.5);
    padding: 1em;
    width: 40vw;
    margin: 2em 0;
}

h3 {
    margin: .5em 0;
}

p {
    margin: .2em 0;
}

audio {
    width: 100%;
}

.box {
    border-radius: .5em;
    box-shadow: .3em .3em 1em rgba(0, 0, 0, 0.3);
    /* border: 2px solid white; */
}

.outer-bar,
#progress-bar {
    height: 1em;
}

.outer-bar {
    border: 1px solid blue;
    width: 100%;
    margin: .5em 0;
}

#progress-bar {
    background-color: blue;
    width: 0;
}

#progress-time {
    display: inline-block;
    padding: 0 .5em;
}

.icon-button {
    height: 2.5em;
    width: 2.5em;
    padding: .2em 0 0 0;
    font-size: x-large;
}

.queue-table {
    width: 100%;
}

.spinner {
    animation: rotate 1.25s linear infinite;
    display: inline-block;
    margin-left: 1em;
    visibility: hidden;
    background-image: url('/raphson');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1.5em;
    width: 1.5em;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
