body, html {
    height: 100vh;
    width: 100vw;
    margin: 0;

    /* De scale: 1.1 voor #bg-image veroorzaakt scroll bars, geen idee hoe ik dat moet fixen. Verberg ze gewoon! */
    overflow: hidden;
}

h3, p, label, td, div {
    font-family: Verdana, sans-serif;
}

h3 {
    margin: .5rem 0;
}

p {
    margin: .2rem 0;
}

.secondary {
    color: #444;
}

p.secondary {
    font-size: .7em;
}

#bg-image-2, #album-cover-2 {
    background-color: #222;
    transition: opacity 1s;
}

.bg-image {
    filter: blur(8rem);
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    z-index: -1;

    /* blur heeft witte randen, vergroot de achtergrond om dit te verbergen */
    scale: 1.2;
}

.background-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.album-covers {
    height: 40vw;
    width: 40vw;
}

.album-covers > div {
    height: 100%;
    width: 100%;
}

/* Position second album cover exactly on top of first one */
#album-cover-2 {
    position: relative;
    bottom: 40vw;
}

.sidebar {
    position: absolute;
    top: 0;
    width: calc(50vw - 6rem);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left-sidebar {
    left: 3em;
}

#right-sidebar {
    right: 3em;
}

input[type=checkbox] {
    height: 1.25rem;
    width: 1.25rem;
}

.controls {
    background: rgba(255, 255, 255, 0.35);
    padding: 1rem;
    width: 40vw;
    margin: 1.25rem 0;
}

audio {
    width: 100%;
}

.box {
    border-radius: .5rem;
    box-shadow: .3rem .3rem 1rem rgba(0, 0, 0, 0.3);
    /* border: 2px solid white; */
}

.outer-bar,
#progress-bar {
    height: 1em;
}

.outer-bar {
    border: 1px solid blue;
    width: 100%;
    margin: .5rem 0;
}

#progress-bar {
    background-color: blue;
    width: 0;
}

#progress-time {
    display: inline-block;
    padding: 0 .5rem;
}

.icon-button {
    height: 3rem;
    width: 3rem;
    padding: .3rem 0 0 0;
    font-size: x-large;
}

.queue-table {
    width: 100%;
    border-spacing: .5rem;
}

.queue-table td {
    height: 4rem;
    font-size: .85rem;
}

/* album image column */
.queue-table td:first-child {
    width: 4rem;
    cursor: pointer;
}

.queue-table td.downloading,
.queue-table td:nth-child(2) {
    text-align: center;
}

/* .queue-table td:nth-child(4) {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
} */

.spinner {
    animation: rotate 1.25s linear infinite;
    display: inline-block;
    margin-left: 1rem;
    background-image: url('/raphson');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2rem;
    width: 2rem;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
