{% extends "base_static.jinja2" %}

{% block title %}
    {% trans %}Permission denied{% endtrans %}
{% endblock title %}

{% block content %}

<h1>{% trans %}Permission denied{% endtrans %}</h1>
<p>{{ reason }}</p><br>
<a href="/auth/login">{% trans %}Log in{% endtrans %}</a>

{% endblock content %}
