{% macro icon_button(icon, id = None, title = None) %}
    <button {% if id %}id="{{id}}"{% endif %} class="icon-button" {% if title %} title="{{title}}"{% endif %}>
        <div class="icon" style="background-image: url('/static/icon/{{icon}}.svg')"></div>
    </button>
{% endmacro %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/favicon.ico">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="/static/css/base.css">
    {% block styles %}{% endblock styles %}
</head>
<body>
    {% block content %}{% endblock content %}
</body>
</html>
