<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/favicon.ico">
    <title>{% block title %}{% endblock title %}</title>
    {% block styles %}
        {% assets "css/base.scss", filters="pyscss,cssmin", output="gen/styles.css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}
    {% endblock styles %}
</head>
<body>
    {% block content %}{% endblock content %}
</body>
</html>
