{% extends "base_static.jinja2" %}

{% block title %}
    {% trans %}Dislikes{% endtrans %}
{% endblock title %}

{% block content %}

{{ page_heading(gettext('Dislikes')) }}

<table class="table">
    <thead>
        <tr>
            <th>{% trans %}Playlist{% endtrans %}</th>
            <th>{% trans %}Track{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for path, playlist, display in tracks %}
            <tr>
                <td>{{ playlist }}</td>
                <td>{{ display }}</td>
                <td>
                    <form action="/dislikes_remove" method="POST">
                        <input type="hidden" name="csrf" value="{{ csrf_token }}">
                        <input type="hidden" name="track" value="{{ path }}">
                        <input type="submit" value="{% trans %}Undo{% endtrans %}">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
