{% extends "base.jinja2" %}

{% block title %}
    {% trans %}File manager{% endtrans %}
{% endblock title %}

{% block content %}
    <main>
        <a href="/">{% trans %}Back to home{% endtrans %}</a>
        <h1>{% trans %}File manager{% endtrans %}</h1>
        <h3>
            {% if base_path == '.' %}
                {% trans %}Browsing root directory{% endtrans %}
            {% else %}
                {% trans dir=base_path %}Browsing: {{ dir }}{% endtrans %}
            {% endif %}
        </h3>

        {% if parent_path_uri == '.' %}
            {# Not necessary, but looks better #}
            <a href="/files">Parent directory</a>
            <br>
        {% elif parent_path_uri %}
            <a href="/files?path={{ parent_path_uri }}">Parent directory</a>
            <br>
        {% endif %}

        <hr>
        <br>

        <table>

        {% for file in files %}
            <tr>
            {% if file['type'] == 'dir' %}
                <td>
                    <div class="icon" style="background-image: url('static/icon/folder.svg')"></div>
                </td>
                <td>
                    <a href="?path={{ file['path'] }}" {% if not write_permission %}class="secondary"{% endif%}>{{ file.name }}/</a>
                </td>
                <td></td>
                <td></td>
            {% elif file['type'] == 'music' %}
                <td>
                    <div class="icon" style="background-image: url('static/icon/music.svg')"></div>
                </td>
                <td>
                    <span {% if not write_permission %}class="secondary"{% endif%}>{{ file.name }}</span>
                </td>
                <td>{{ file['artist'] }}</td>
                <td>{{ file['title'] }}</td>
            {% else %}
                <td>
                    <div class="icon" style="background-image: url('static/icon/file-question.svg')"></div>
                </td>
                <td>
                    <span {% if not write_permission %}class="secondary"{% endif%}>{{ file.name }}</span>
                </td>
                <td></td>
                <td></td>
            {% endif %}

            <td>
                {% if write_permission %}
                    <form method="GET" action="/files_rename" class="inline-block">
                        <input type="hidden" name="path" value="{{ file['path'] }}">
                        {{ icon_button('rename-box') }}
                    </form>

                    <form method="POST" action="/files_rename" class="inline-block">
                        <input type="hidden" name="csrf" value="{{ csrf_token }}">
                        <input type="hidden" name="new-name" value=".trash.{{ file['name'] }}">
                        <input type="hidden" name="path" value="{{ file['path'] }}">
                        {{ icon_button('delete') }}
                    </form>
                {% endif %}

                {% if file['type'] != 'dir' %}
                    <form method="GET" action="/files_download" class="inline-block">
                        <input type="hidden" name="path" value="{{ file['path'] }}">
                        {{ icon_button('download') }}
                    </form>
                {% endif %}
            </td>
        {% endfor %}
        </table>

        <hr>

        {% if write_permission %}
            <h3>Upload files</h3>
            <form method="POST" action="/files_upload" enctype="multipart/form-data">
                <input type="hidden" name="csrf" value="{{ csrf_token }}">
                <input type="hidden" name="dir" value="{{ base_path }}">
                <input type="file" name="upload" accept="{{ music_extensions }}" multiple>
                <input type="submit" value="{% trans %}Upload{% endtrans %}">
            </form>

            <h3>Create directory</h3>
            <form method="POST" action="/files_mkdir">
                <input type="hidden" name="csrf" value="{{ csrf_token }}">
                <input type="hidden" name="path" value="{{ base_path }}">
                <input type="text" name="dirname">
                <input type="submit" value="{% trans %}Create directory{% endtrans %}">
            </form>
        {% else %}
            <p>{% trans %}You don't have permission to upload files or create directories here.{% endtrans %}</p>
        {% endif %}
    </main>
{% endblock content %}
