{% extends "base.jinja2" %}

{% block title %}
    {% trans %}File manager{% endtrans %}
{% endblock title %}

{% block content %}
    <main>
        <a href="/">{% trans %}Back to home{% endtrans %}</a>
        <h1>{% trans %}File manager{% endtrans %}</h1>

        {% if write_permission %}
            <h2>Upload files</h2>
            <form method="POST" action="/files_upload" enctype="multipart/form-data">
                <input type="hidden" name="csrf" value="{{ csrf_token }}">
                <input type="hidden" name="dir" value="{{ base_path }}">
                <input type="file" name="upload" accept="{{ music_extensions }}" multiple>
                <input type="submit" value="{% trans %}Upload{% endtrans %}">
            </form>

            <h2>Create directory</h2>
            <form method="POST" action="/files_mkdir">
                <input type="hidden" name="csrf" value="{{ csrf_token }}">
                <input type="hidden" name="path" value="{{ base_path }}">
                <input type="text" name="dirname">
                <input type="submit" value="{% trans %}Create directory{% endtrans %}">
            </form>
        {% else %}
            <p>{% trans %}You don't have permission to upload files or create directories here.{% endtrans %}</p>
        {% endif %}

        {% if base_path == '.' %}
            <h2>{% trans %}Files in base directory{% endtrans %}</h2>
        {% else %}
            <h2>{% trans dir=base_path + '/' %}Files in {{ dir }}{% endtrans %}</h2>
        {% endif %}

        <p>
        {% if parent_path_uri == '.' %}
            {# Not necessary, but looks better #}
            <a href="/files">Parent directory</a>
        {% elif parent_path_uri %}
            <a href="/files?path={{ parent_path_uri }}">Parent directory</a>
        {% endif %}
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>{% trans %}Type{% endtrans %}</th>
                    <th>{% trans %}File name{% endtrans %}</th>
                    <th>{% trans %}Artists{% endtrans %}</th>
                    <th>{% trans %}Title{% endtrans %}</th>
                    <th {% if write_permission %}colspan="3"{% endif %}>{% trans %}Actions {% endtrans %}</th>
                </tr>
            </thead>

            <tbody>
                {% for file in files %}
                <tr>
                    {% if file['type'] == 'dir' %}
                    <td class="icon-col">
                        <div class="icon" style="background-image: url('static/icon/folder.svg')"></div>
                    </td>
                    <td>
                        <a href="?path={{ file['path'] }}" {% if not write_permission %}class="secondary"{% endif%}>{{ file.name }}/</a>
                    </td>
                    <td></td>
                    <td></td>
                    {% elif file['type'] == 'music' %}
                    <td class="icon-col">
                        <div class="icon" style="background-image: url('static/icon/music.svg')"></div>
                    </td>
                    <td>
                        <span {% if not write_permission %}class="secondary"{% endif%}>{{ file.name }}</span>
                    </td>
                    <td>{{ file['artist'] }}</td>
                    <td>{{ file['title'] }}</td>
                    {% else %}
                    <td class="icon-col">
                        <div class="icon" style="background-image: url('static/icon/file-question.svg')"></div>
                    </td>
                    <td>
                        <span {% if not write_permission %}class="secondary"{% endif%}>{{ file.name }}</span>
                    </td>
                    <td></td>
                    <td></td>
                    {% endif %}

                    {% if write_permission %}
                    <td class="button-col">
                        <form method="GET" action="/files_rename" class="inline-block">
                            <input type="hidden" name="path" value="{{ file['path'] }}">
                            {{ icon_button('rename-box', title=gettext('Rename file')) }}
                        </form>
                    </td>

                    <td class="button-col">
                        <form method="POST" action="/files_rename" class="inline-block">
                            <input type="hidden" name="csrf" value="{{ csrf_token }}">
                            <input type="hidden" name="new-name" value=".trash.{{ file['name'] }}">
                            <input type="hidden" name="path" value="{{ file['path'] }}">
                            {{ icon_button('delete', title=gettext('Move file to trash')) }}
                        </form>
                    </td>
                    {% endif %}

                    <td class="button-col">
                        {% if file['type'] != 'dir' %}
                            <form method="GET" action="/files_download" class="inline-block">
                                <input type="hidden" name="path" value="{{ file['path'] }}">
                                {{ icon_button('download', title=gettext('Download original file')) }}
                            </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
