{% extends "base.jinja2" %}

{% block title %}
    {% trans %}Rename file{% endtrans %}
{% endblock title %}

{% block content %}
    <main>
        <h3>Renaming file: {{ path }}</h3>

        <form method="POST">
            <input type="hidden" name="path" value="{{ path }}">
            <input type="text" name="new-name" value="{{ name }}" size="70">
            <input type="submit" value="{% trans %}Rename{% endtrans %}">
        </form>
    </main>
{% endblock content %}
