{% extends "base.jinja2" %}

{% block title %}
    {% trans %}File manager{% endtrans %}
{% endblock title %}

{% block head %}
    <style>
        form {
            display: inline-block;
        }
    </style>
{% endblock head %}

{% block content %}

    <h3>Browsing: {{ base_path_abs }}</h3>

    {% if parent_path_uri %}
        <a href="?parent_path_uri">Parent directory</a>
    {% else %}
        Parent directory
    {% endif %}
    <br>
    <hr>
    <br>

    {% for file in files %}
        {% if file['type'] == 'dir' %}
            [D] <a href="?path={{ file['path'] }}">{{ file.name }}/</a>
        {% elif file['type'] == 'music' %}
            [M] <span>{{ file.name }}</span>
        {% else %}
            [F] <span>{{ file.name }}</span>
        {% endif %}

        <form method="GET" action="/files_rename">
            <input type="hidden" name="path" value="{{ file['path'] }}">
            <input type="submit" value="{% trans %}Rename{% endtrans %}">
        </form>

        {% if file['type'] != 'dir' %}
            <form method="POST" action="/files_delete">
                <input type="hidden" name="path" value="{{ file['path'] }}">
                <input type="submit" value="{% trans %}Delete{% endtrans %}">
            </form>
        {% endif %}

        <br>
    {% endfor %}

    <hr>

    <h3>Upload file</h3>
    <form method="POST" action="/files_upload" enctype="multipart/form-data">
        <input type="hidden" name="dir" value="{{ base_path_abs }}">
        <input type="file" name="upload">
        <input type="submit" value="{% trans %}Upload{% endtrans %}">
    </form>

{% endblock content %}