{% extends "base.jinja2" %}

{% block title %}
    {% trans %}Playback history{% endtrans %}
{% endblock title %}

{% block content %}
    <main>
        {{ page_heading(gettext('Playback history')) }}

        <h2>{% trans %}Now playing{% endtrans %}</h2>

        {% if now_playing %}
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            {% trans %}User{% endtrans %}
                        </th>
                        <th>
                            {% trans %}Playlist{% endtrans %}
                        </th>
                        <th>
                            {% trans %}Track{% endtrans %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for track in now_playing %}
                        <tr>
                            <td>{{ track['username'] }}</td>
                            <td>{{ track['playlist'] }}</td>
                            <td>{{ track['title'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            {% trans %}<p>No one is playing music.</p>{% endtrans %}
        {% endif %}

        <h2>{% trans %}Summary (last 7 days){% endtrans %}</h2>
        <h3>{% trans %}Playlists{% endtrans %}</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        {% trans %}Playlist{% endtrans %}
                    </th>
                    <th>
                        {% trans %}Number of plays{% endtrans %}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for playlist in summary_playlists %}
                    <tr>
                        <td>{{ playlist['name'] }}</td>
                        <td>{{ playlist['count'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>{% trans %}Users{% endtrans %}</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        {% trans %}Username{% endtrans %}
                    </th>
                    <th>
                        {% trans %}Number of plays{% endtrans %}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for user in summary_users %}
                    <tr>
                        <td>{{ user['name'] }}</td>
                        <td>{{ user['count'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>{% trans %}History{% endtrans %}</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        {% trans %}Time{% endtrans %}
                    </th>
                    <th>
                        {% trans %}User{% endtrans %}
                    </th>
                    <th>
                        {% trans %}Playlist{% endtrans %}
                    </th>
                    <th>
                        {% trans %}Track{% endtrans %}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for track in history %}
                    <tr>
                        <td class="format-timestamp">{{ track['time'] }}</td>
                        <td>{{ track['username'] }}</td>
                        <td>{{ track['playlist'] }}</td>
                        <td>{{ track['title'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </main>

    <script src="/static/js/format.js"></script>
{% endblock content %}
