{% extends "base_static.jinja2" %}

{% block title %}
    {% trans %}Playback history{% endtrans %}
{% endblock title %}

{% block content %}

{{ page_heading(gettext('Playback history')) }}

<h2>{% trans %}Now playing{% endtrans %}</h2>

{% if now_playing %}
    <table class="table">
        <thead>
            <tr>
                <th>
                    {% trans %}User{% endtrans %}
                </th>
                <th>
                    {% trans %}Playlist{% endtrans %}
                </th>
                <th>
                    {% trans %}Track{% endtrans %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for track in now_playing %}
                <tr>
                    <td>{{ track['username'] }}</td>
                    <td>{{ track['playlist'] }}</td>
                    <td>{{ track['title'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    {% trans %}<p>No one is playing music.</p>{% endtrans %}
{% endif %}

<h2>{% trans %}Summary (last 30 days){% endtrans %}</h2>
<h3>{% trans %}Playlists{% endtrans %}</h3>
<img src="{{ plot_playlists }}">

<h3>{% trans %}Users{% endtrans %}</h3>
<img src="{{ plot_users }}">

<h3>{% trans %}Time of day{% endtrans %}</h3>
<img src="{{ plot_tod }}">

<h3>{% trans %}Day of week{% endtrans %}</h3>
<img src="{{ plot_dow }}">

<h3>{% trans %}Top tracks {% endtrans %}</h3>
<img src="{{ plot_tracks }}">

<h3>{% trans %}Top artists {% endtrans %}</h3>
<img src="{{ plot_artists }}">

<h2>{% trans %}History{% endtrans %}</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                {% trans %}Time{% endtrans %}
            </th>
            <th>
                {% trans %}User{% endtrans %}
            </th>
            <th>
                {% trans %}Playlist{% endtrans %}
            </th>
            <th>
                {% trans %}Track{% endtrans %}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for track in history %}
            <tr>
                <td class="format-timestamp">{{ track['time'] }}</td>
                <td>{{ track['username'] }}</td>
                <td>{{ track['playlist'] }}</td>
                <td>{{ track['title'] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script src="/static/js/format.js"></script>
{% endblock content %}
