{% extends "base_static.jinja2" %}

{% block title %}
    {% trans %}Playback history{% endtrans %}
{% endblock title %}

{% block content %}

{{ page_heading(gettext('Playback history')) }}

<h2>{% trans %}Now playing{% endtrans %}</h2>

{% if now_playing %}
    <table class="table">
        <thead>
            <tr>
                <th>
                    {% trans %}User{% endtrans %}
                </th>
                <th>
                    {% trans %}Playlist{% endtrans %}
                </th>
                <th>
                    {% trans %}Track{% endtrans %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for track in now_playing %}
                <tr>
                    <td>{{ track['username'] }}</td>
                    <td>{{ track['playlist'] }}</td>
                    <td>{{ track['title'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    {% trans %}<p>No one is playing music.</p>{% endtrans %}
{% endif %}

<h2>{% trans %}Summary{% endtrans %}</h2>
<p>Playback statistics have been moved to a dedicated 'Statistics' page.</p>

<h2>{% trans %}History{% endtrans %}</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                {% trans %}Time{% endtrans %}
            </th>
            <th>
                {% trans %}User{% endtrans %}
            </th>
            <th>
                {% trans %}Playlist{% endtrans %}
            </th>
            <th>
                {% trans %}Track{% endtrans %}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for track in history %}
            <tr>
                <td class="format-timestamp">{{ track['time'] }}</td>
                <td>{{ track['username'] }}</td>
                <td>{{ track['playlist'] }}</td>
                <td>{{ track['title'] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script src="/static/js/format.js"></script>
{% endblock content %}
