{% extends "base.jinja2" %}

{% block title %}
    {% trans %}Home{% endtrans%}
{% endblock title %}

{% block content %}
    <main>
        <div class="icon" style="background-image: url('/static/icon/music.svg')"></div>
        <a href="/player" class="large">{% trans %}Music player{% endtrans %}</a><br>

        <div class="icon" style="background-image: url('/static/icon/folder.svg')"></div>
        <a href="/files" class="large">{% trans %}File manager{% endtrans %}</a><br>

        <div class="icon" style="background-image: url('/static/icon/playlist-music.svg')"></div>
        <a href="/playlists" class="large">{% trans %}Playlist manager{% endtrans %}</a><br>

        <div class="icon" style="background-image: url('/static/icon/account-cog.svg')"></div>
        <a href="/account" class="large">{% trans %}Account{% endtrans %}</a><br>

        <div class="icon" style="background-image: url('/static/icon/radio.svg')"></div>
        <a href="/radio" class="large">{% trans %}Radio (Alpha){% endtrans %}</a><br>
    </main>
{% endblock content %}
