{% extends "base.jinja2" %}

{% block title %}
    {% trans %}Home{% endtrans%}
{% endblock title %}

{% block content %}
    <main>
        <a href="/player">{% trans %}Music player{% endtrans %}</a><br>
        <a href="/files">{% trans %}File manager{% endtrans %}</a><br>
        <a href="/radio">{% trans %}Radio (Alpha){% endtrans %}</a><br>
        <a href="/account">{% trans %}Account{% endtrans %}</a><br>
    </main>
{% endblock content %}
