{% extends "base_static.jinja2" %}

{% block content %}

<h1>{% trans %}Last.fm connection{% endtrans %}</h1>

<p>{% trans %}Click the button below to link your Last.fm account.{% endtrans %}</p>

<form method="POST" action="/lastfm_connect">
    <input type="hidden" name="auth_token" value="{{ auth_token }}">
    <input type="submit" value="{% trans %}Link{% endtrans %}">
</form>

{% endblock content %}
