{% extends "base.jinja2" %}

{% block content %}

    <main>
        <h3>{% trans %}Last.fm connection{% endtrans %}</h3>

        <p>{% trans %}Logged in as {{ name }}{% endtrans %}</p>

        <p><a href="/account">{% trans %}Back to account page{% endtrans %}</a></p>
    </main>

{% endblock content %}
