{% extends "base_static.jinja2" %}

{% block content %}

<h1>{% trans %}Last.fm connection{% endtrans %}</h1>

<p>{% trans %}Logged in as {{ name }}{% endtrans %}</p>

<p><a href="/account">{% trans %}Back to account page{% endtrans %}</a></p>

{% endblock content %}
