<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/favicon.ico">
    <style>
        .fancy {
            font-family: monospace;
            color: red;
            animation: sleutelframes 1s ease-in-out infinite;
            position: relative;
            font-size: 1.5em;
        }

        @keyframes sleutelframes {
            0%, 100% {
            bottom: -.4em;
            }
            50% {
            bottom: .4em;
            }
        }

        input {
            margin: 3px 0;
        }
    </style>
</head>
<body>
    <p>
        {% trans %}Please log in to get access to{% endtrans %}
    </p>

    <span class="fancy">Super fancy music player 2.0</span>

    <br>
    <br>
    <br>

    {% if invalid_password %}
        {% trans %}Invalid username or password{% endtrans %}
        <br><br>
    {% endif %}

    <form method="POST">
        <label for="username">{% trans %}Username{% endtrans %}</label><br>
        <input type="text" name="username" id="username" autofocus><br>
        <label for="password">{% trans %}Password{% endtrans %}</label><br>
        <input type="password" name="password" id="password"><br>
        <input type="submit" value="{% trans %}Log in{% endtrans %}">
    </form>

</body>
</html>
