{% extends "base_static.jinja2" %}

{% block title %}
    {% trans %}Log in{% endtrans %}
{% endblock title %}

{% block content %}

<p>
    {% trans %}Please log in to get access to{% endtrans %}
</p>

<span class="fancy">Super fancy music player 2.0</span>

<br>
<br>

{% if invalid_password %}
    <p>{% trans %}Invalid username or password{% endtrans %}</p>
{% endif %}

<br>

<form method="POST">
    <label for="username">{% trans %}Username{% endtrans %}</label><br>
    <input type="text" name="username" id="username" autofocus><br>
    <label for="password">{% trans %}Password{% endtrans %}</label><br>
    <input type="password" name="password" id="password"><br>
    <input type="submit" value="{% trans %}Log in{% endtrans %}">
</form>

{% endblock content %}
