{% extends "base_static.jinja2" %}

{% block title %}
    {% trans %}Song blocklist{% endtrans %}
{% endblock title %}

{% block content %}

{{ page_heading(gettext('Song blocklist')) }}

<table class="table">
    <thead>
        <tr>
            <th>{% trans %}Track{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for track in tracks %}
            <tr>
                <td>{{ track }}</td>
                <td>
                    <form action="/remove_never_play" method="POST">
                        <input type="hidden" name="csrf" value="{{ csrf_token }}">
                        <input type="hidden" name="track" value="{{ track }}">
                        <input type="submit" value="{% trans %}Remove{% endtrans %}">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
