{% extends "base.jinja2" %}

{% block title %}
    {% trans %}Playlist manager{% endtrans %}
{% endblock title %}

{% block content %}
    <main>
        {{ page_heading(gettext('Playlist manager')) }}


        {% if user_is_admin %}
            <p>{% trans %}As an administrator, you can modify tracks in all playlists even without write access.{% endtrans %}</p>
            <br>
        {% endif %}

        <table class="table">
            <thead>
                <tr>
                    <th class="icon-col">{% trans %}Favorite{% endtrans %}</th>
                    <th>{% trans %}Name{% endtrans %}</th>
                    <th>{% trans %}Write access{% endtrans %}</th>
                    <th>{% trans %}Actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for playlist in playlists %}
                    <tr>
                        <td class="icon-col">
                            {% if playlist.favorite %}
                                {{ icon('star') }}
                            {% else %}
                                {{ icon('star-off') }}
                            {% endif %}
                        </td>
                        <td>
                            {{ playlist.name }}
                        </td>
                        <td>
                            {% if playlist.write  %}
                                {% trans %}Yes{% endtrans %}
                            {% else %}
                                {% trans%}No{% endtrans %}
                            {% endif %}
                        </td>
                        <td>
                            {% if playlist.favorite %}
                                <form action="/playlists_favorite" method="POST">
                                    <input type="hidden" name="csrf" value="{{ csrf_token }}">
                                    <input type="hidden" name="playlist" value="{{ playlist.relpath }}">
                                    <input type="hidden" name="favorite" value="0">
                                    <input type="submit" value="{% trans %}Remove favorite{% endtrans %}">
                                </form>
                            {% else %}
                                <form action="/playlists_favorite" method="POST">
                                    <input type="hidden" name="csrf" value="{{ csrf_token }}">
                                    <input type="hidden" name="playlist" value="{{ playlist.relpath }}">
                                    <input type="hidden" name="favorite" value="1">
                                    <input type="submit" value="{% trans %}Make favorite{% endtrans %}">
                                </form>
                            {% endif %}

                            {% if user_is_admin or playlist.write %}
                                <form action="/playlists_share" method="GET">
                                    <input type="hidden" name="csrf" value="{{ csrf_token }}">
                                    <input type="hidden" name="playlist" value="{{ playlist.relpath }}">
                                    <input type="submit" value="{% trans %}Share{% endtrans %}">
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>{% trans %}Primary playlist{% endtrans %}</h2>
        <p>
            {% trans %}Whenever a playlist needs to be selected, your primary playlist will be selected by default.{% endtrans %}
            {% if primary_playlist %}
                {% trans %}Your current primary playlist is '{{ primary_playlist }}'.{% endtrans %}
            {% else %}
                {% trans %}You do not have a primary playlist configured.{% endtrans %}
            {% endif %}
        </p>

        <form action="/playlists_set_primary" method="POST">
            <input type="hidden" name="csrf" value="{{ csrf_token }}">
            <select name="primary-playlist">
                {% for playlist in playlists %}
                    <option value="{{ playlist.name }}" {% if playlist.name == primary_playlist %}selected{% endif %}>{{ playlist.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="{% trans %}Change primary playlist{% endtrans %}">
        </form>

        <h2>{% trans %}Create new playlist{% endtrans %}</h2>
        <form action="/playlists_create" method="POST">
            <input type="hidden" name="csrf" value="{{ csrf_token }}">
            <input type="text" name="path" placeholder="{% trans %}Directory name{% endtrans %}">
            <input type="submit" value="{% trans %}Create{% endtrans %}">
        </form>
    </main>
{% endblock content %}
