{% extends "base_static.jinja2" %}

{% block title %}
    {% trans %}Playlist manager{% endtrans %}
{% endblock title %}

{% block content %}

{{ page_heading(gettext('Playlist manager')) }}

<h2>{% trans %}My playlist{% endtrans %}</h2>
<p>
    {% trans %}Whenever a playlist needs to be selected, your playlist will be selected by default.{% endtrans %}
    {% if primary_playlist %}
        {% trans %}Your current primary playlist is '{{ primary_playlist }}'.{% endtrans %}
    {% else %}
        {% trans %}You do not have a playlist configured.{% endtrans %}
    {% endif %}
</p>

<form action="/playlists_set_primary" method="POST">
    <input type="hidden" name="csrf" value="{{ csrf_token }}">
    <select name="primary-playlist">
        {% for playlist in playlists %}
            <option value="{{ playlist.name }}" {% if playlist.name == primary_playlist %}selected{% endif %}>{{ playlist.name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="{% trans %}Set as my playlist{% endtrans %}">
</form>

<h2>{% trans %}Create new playlist{% endtrans %}</h2>
<form action="/playlists_create" method="POST">
    <input type="hidden" name="csrf" value="{{ csrf_token }}">
    <input type="text" name="path" placeholder="{% trans %}Directory name{% endtrans %}">
    <input type="submit" value="{% trans %}Create{% endtrans %}">
</form>

<h2>{% trans %}Playlists{% endtrans %}</h2>

{% if user_is_admin %}
    <p>{% trans %}As an administrator, you can modify tracks in all playlists even without write access.{% endtrans %}</p>
{% endif %}

<p>
{{ icon('star') }} Favorite playlist. Shows in the top row and is enabled by default.<br>
{{ icon('file-edit') }} You are allowed to modify files in this playlist.<br>
{{ icon('account-star') }} This is your primary playlist.<br>
</p><br>

<table class="table">
    <thead>
        <tr>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Info{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for playlist in playlists %}
            <tr>
                <td>
                    {{ playlist.name }}
                </td>
                <td>
                    {% if playlist.favorite %}
                        {{ icon('star') }}
                    {% endif %}
                    {% if playlist.write  %}
                        {{ icon('file-edit') }}
                    {% endif %}
                    {% if playlist.name == primary_playlist  %}
                        {{ icon('account-star') }}
                    {% endif %}
                </td>
                <td>
                    {% if playlist.favorite %}
                        <form action="/playlists_favorite" method="POST">
                            <input type="hidden" name="csrf" value="{{ csrf_token }}">
                            <input type="hidden" name="playlist" value="{{ playlist.name }}">
                            <input type="hidden" name="favorite" value="0">
                            <input type="submit" value="{% trans %}Remove favorite{% endtrans %}">
                        </form>
                    {% else %}
                        <form action="/playlists_favorite" method="POST">
                            <input type="hidden" name="csrf" value="{{ csrf_token }}">
                            <input type="hidden" name="playlist" value="{{ playlist.name }}">
                            <input type="hidden" name="favorite" value="1">
                            <input type="submit" value="{% trans %}Make favorite{% endtrans %}">
                        </form>
                    {% endif %}

                    {% if user_is_admin or playlist.write %}
                        <form action="/playlists_share" method="GET">
                            <input type="hidden" name="csrf" value="{{ csrf_token }}">
                            <input type="hidden" name="playlist" value="{{ playlist.name }}">
                            <input type="submit" value="{% trans %}Share{% endtrans %}">
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
