{% extends "base.jinja2" %}

{% macro dialog_close_button(id) %}
    <button class="dialog-close-button icon-button" data-for="{{id}}">
        <div class="icon" style="background-image: url('/static/icon/close.svg')"></div>
    </button>
{% endmacro %}

{% macro dialog_header(id, title, back_id = None) %}
    <div class="flex-space-between">
        {% if back_id %}
            <span>
                {{ icon_button('arrow-left', back_id) }}
            </span>
        {% endif %}
        <span>
            <h3>{{ title }}</h3>
        </span>
        <span>
            {{ dialog_close_button(id) }}
        </span>
    </div>
{% endmacro %}

{% block title %}
    Super fancy music player 2.0
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/player.css">
{% endblock styles %}

{% block body %}
<body>
    <div id="bg-image-1" class="bg-image bg-image-blurred"></div>
    <div id="bg-image-2" class="bg-image bg-image-blurred fade-image-top"></div>
    <div class="bg-image bg-image-blurred dither"></div>

    <div class="sidebar sidebar-left">

        <div>

            <div class="box-rounded box-solid">
                <div id="playlist-checkboxes">
                    {% trans %}Loading...{% endtrans %}
                </div>
            </div>

            <div class="box-rounded box-solid">
                <p>
                    <span id="current-track">{% trans %}Waiting for music in queue...{% endtrans %}</span>
                </p>
                <p class="secondary">
                    {% trans %}Previously: {% endtrans %} <span id="previous-track">-</span>
                </p>

                <div id="outer-progress-bar">
                    <div id="progress-bar"></div>
                    <div class="flex-space-between">
                        <span id="progress-time-current" class="progress-time">--:--</span>
                        <span id="progress-time-duration" class="progress-time">--:--</span>
                    </div>
                </div>

                {{ icon_button('home', 'button-home', title=gettext('Open home page in a new tab')) }}
                {{ icon_button('skip-previous', 'button-prev', title=gettext('Go to beginning of current track, or previous track')) }}
                {{ icon_button('play', 'button-play', title=gettext('Play')) }}
                {{ icon_button('pause', 'button-pause', title=gettext('Pause')) }}
                {{ icon_button('skip-next', 'button-next', title=gettext('Skip to next track')) }}
                {{ icon_button('microphone', 'button-lyrics', title=gettext('Show lyrics instead of album cover')) }}
                {{ icon_button('album', 'button-album', title=gettext('Show album cover instead of lyrics')) }}
                {{ icon_button('cancel', 'button-never-play', title=gettext('Never play again')) }}
                {{ icon_button('pencil', 'button-edit', title=gettext('Open metadata editor')) }}
                {{ icon_button('delete', 'button-delete-track', title=gettext('Delete currently playing track from playlist')) }}
                {{ icon_button('content-copy', 'button-copy', title=gettext('Copy track to your primary playlist')) }}
                {{ icon_button('gear', 'open-dialog-settings', title=gettext('Open settings')) }}

                <div id="delete-spinner" class="spinner hidden"></div>

                {% if mobile %}
                    {# 'data-restore=false' ensures volume is not overwritten from cookie #}
                    <input type="hidden" value="100" id="settings-volume" data-restore="false">
                {% else %}
                    <input type="range" min="0" max="100" value="50" id="settings-volume">
                {% endif %}
            </div>

            <div class="box-rounded box-solid box-queue">
                <div class="flex-space-between">
                    <h3>{% trans %}Queue{% endtrans %} (<span id="current-queue-size">0</span>)</h3>
                    <div>
                        {{ icon_button('tag-multiple', 'open-dialog-tags', title=gettext('Open tag selection')) }}
                        {{ icon_button('playlist-plus', 'browse-all', title=gettext('Browse all tags')) }}
                    </div>
                </div>
                <div class="scroll" id="queue-scroll">
                    <span id="no-playlists-selected" class="hidden">{% trans %}No playlists are selected{% endtrans %}</span>
                    <table id="queue-table"></table>
                </div>
                {# Was a fix for a mobile scroll issue, but it seems to be fixed... #}
                {# Instead of removing it, hide it for now until we're sure it can be removed #}
                <div class="queue-buttons flex-space-between hidden">
                    {{ icon_button('arrow-down', 'queue-down')}}
                    {{ icon_button('arrow-up', 'queue-up')}}
                </div>
            </div>

        </div>

    </div>

    <div class="sidebar sidebar-right" id="sidebar-album-covers">
        <div id="album-covers">
            <div id="album-cover-1" class="box-rounded"></div>
            <div id="album-cover-2" class="box-rounded fade-image-top"></div>
        </div>
    </div>

    <div class="sidebar sidebar-right hidden" id="sidebar-lyrics">
        <div id="lyrics-box" class="lyrics-outer box-rounded box-solid">
            <div id="lyrics-scroll">
                <i id="lyrics-not-found" class="secondary hidden">{% trans %}No lyrics found{% endtrans %}</i>
                <span id="lyrics-text"></span>
                <br>
                <a id="lyrics-source" class="secondary hidden" href="#" target="_blank">{% trans %}Source{% endtrans %}</a>
            </div>
        </div>
    </div>

    <div id="dialog-settings" class="full-page-overlay overlay-hidden dialog-overlay">
        <div class="box-rounded box-solid">
            {{ dialog_header('dialog-settings', gettext('Settings')) }}
            <div class="scroll">
                <h4>{% trans %}Hotkeys{% endtrans %}</h4>
                <table class="hotkeys-table">
                    <tbody>
                        <tr>
                            <td><kbd>1</kbd> - <kbd>9</kbd></td>
                            <td>{% trans %}Toggle playlists{% endtrans %}</td>
                        </tr>
                        <tr>
                            <td><kbd>←</kbd> / <kbd>→</kbd></td>
                            <td>{% trans %}Previous or next track{% endtrans %}</td>
                        </tr>
                        <tr>
                            <td><kbd>↑</kbd> / <kbd>↓</kbd></td>
                            <td>{% trans %}Increase or decrease volume{% endtrans %}</td>
                        </tr>
                        <tr>
                            <td><kbd>&lt;</kbd> / <kbd>&gt;</kbd></td>
                            <td>{% trans %}Seek in track (don't use shift){% endtrans %}</td>
                        </tr>
                        <tr>
                            <td><kbd>Esc</kbd></td>
                            <td>{% trans %}Close dialog{% endtrans %}</td>
                        </tr>
                        <tr>
                            <td><kbd>l</kbd></td>
                            <td>{% trans %}Show lyrics{% endtrans %}</td>
                        </tr>
                        <tr>
                            <td><kbd>a</kbd></td>
                            <td>{% trans %}Show album cover{% endtrans %}</td>
                        </tr>
                    </tbody>
                </table>

                <h4>{% trans %}Settings{% endtrans %}</h4>
                <div>
                    <input type="number" value="5" size="3" id="settings-queue-size">
                    <label for="settings-queue-size">{% trans %}Minimum queue length{% endtrans %}</label>
                </div>
                <div>
                    <select id="settings-audio-type">
                        <option value="webm_opus_high" selected>{% trans %}High quality Opus audio (~60MB per hour){% endtrans %}</option>
                        <option value="webm_opus_low">{% trans %}Low quality Opus audio (~30MB per hour){% endtrans %}</option>
                        <option value="mp4_aac">{% trans %}High quality AAC audio, for Apple devices (~90MB per hour){% endtrans %}</option>
                    </select>
                    <label for="settings-audio-type">{% trans %}Audio quality{% endtrans %}</label>
                </div>
                <div>
                    <select id="settings-queue-removal-behaviour">
                        <option value="roundrobin" selected>{% trans %}New track from next round-robin playlist{% endtrans %}</option>
                        <option value="same">{% trans %}New track from same playlist{% endtrans %}</option>
                    </select>
                    <label for="settings-queue-removal-behaviour">{% trans %}Queue removal behaviour{% endtrans %}</label>
                </div>
                <div>
                    <select id="settings-theme">
                        <option value="dark" selected>{% trans %}Dark{% endtrans%}</option>
                        <option value="light">{% trans %}Light{% endtrans%}</option>
                        <option value="browser">{% trans %}Use system preference{% endtrans%}</option>
                    </select>
                    <label for="settings-theme">{% trans %}Theme{% endtrans %}</label>
                </div>
                <div>
                    <select id="settings-language">
                        {% for lang_id, lang_display in languages %}
                            {% if lang_id == language %}
                                <option value="{{ lang_id }}" selected>{{ lang_display }}</option>
                            {% else %}
                                <option value="{{ lang_id }}">{{ lang_display }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="settings-language">{% trans %}Language (reload required){% endtrans %}</label>
                </div>
                <div>
                    <input id="settings-meme-mode" type="checkbox">
                    <label for="settings-meme-mode">{% trans %}Album cover meme mode{% endtrans %}</label>
                </div>

                <h4>{% trans %}Scan music{% endtrans %}</h4>
                <div>
                    <button id="scan-button">{% trans %}Scan playlists and update local track list{% endtrans %}</button>
                    <div id="scan-spinner" class="spinner hidden"></div>
                </div>

                <h4>{% trans %}YouTube download{% endtrans %}</h4>
                <p>
                    {% trans %}Select a playlist and paste a link from YouTube, Soundcloud, Bandcamp, etc. Finally, press <kbd>Download</kbd>.{% endtrans %}
                </p>
                <form>
                    <select id="youtube-dl-directory" class="playlist-select playlist-select-writable"></select>
                    <input id="youtube-dl-url" type="text" placeholder="https://youtube.com/watch?v=..." size="45">
                    <input id="youtube-dl-submit" type="submit" value="{% trans %}Download{% endtrans %}">
                    <div id="youtube-dl-spinner" class="spinner hidden"></div>
                    <br>
                    <div id="youtube-dl-output" class="logbox">{% trans %}yt-dlp output will appear here{% endtrans %}</div>
                </form>

                <h4>{% trans %}Credits{% endtrans %}</h4>
                <p>
                    {% trans trimmed gh="https://github.com/DanielKoomen/WebApp", robin_gh="https://github.com/Derkades", insp_gh="https://github.com/DanielKoomen/MusicPlayer", daniel_gh="https://github.com/DanielKoomen" %}
                    <a href="{{gh}}">Super fancy music player 2.0</a> is a project largely made by
                    <a href="{{robin_gh}}">Robin Slot</a>, inspired by the awesome
                    <a href="{{insp_gh}}" target="_blank">Super fancy music player</a> by
                    <a href="{{daniel_gh}}" target="_blank">Daniël Koomen</a>. Enjoy!
                    {% endtrans %}
                </p>
            </div>
        </div>
    </div>

    <div id="dialog-tags" class="full-page-overlay overlay-hidden dialog-overlay">
        <div class="box-rounded box-solid">
            {{ dialog_header('dialog-tags', gettext('Tags')) }}

            <div class="scroll">
                <select id="tag-mode">
                    <option value="allow">{% trans %}Only choose tracks with enabled tags (tracks without tags are never chosen){% endtrans %}</option>
                    <option value="deny" selected>{% trans %}Don't choose tracks with disabled tags (tracks with enabled tags or no tags are chosen){% endtrans %}</option>
                </select>{% trans %}Tag mode{% endtrans %}
                <div id="tag-checkboxes"></div>
            </div>
        </div>
    </div>

    <div id="dialog-browse" class="full-page-overlay overlay-hidden dialog-overlay">
        <div class="box-rounded box-solid">
            {{ dialog_header('dialog-browse', 'placeholder', back_id='browse-back') }}
            <div class="scroll">
                <select id="browse-filter-playlist" class="playlist-select">
                    <option value="all" data-keep="true">{% trans %}All{% endtrans %}</option>
                </select>

                <input id="browse-filter-query" type="text" placeholder="{% trans %}Search query{% endtrans %}">

                <p id="browse-no-content">{% trans %}Please select a playlist or enter a search query.{% endtrans %}</p>

                <div id="browse-content"></div>
            </div>
        </div>
    </div>

    <div id="dialog-editor" class="full-page-overlay overlay-hidden dialog-overlay">
        <div class="box-rounded box-solid">
            {{ dialog_header('dialog-editor', gettext('Metadata editor')) }}
            <div id="editor-content" class="scroll">
                <p>
                    {% trans %}Editing metadata for: {% endtrans %}<span id="editor-html-title"></span>
                </p>
                <br>
                <div>
                    <label for="editor-title">{% trans %}Title{% endtrans %}</label><br>
                    <input type="text" id="editor-title" value="" size="50">
                </div>
                <div>
                    <label for="editor-album">{% trans %}Album{% endtrans %}</label><br>
                    <input type="text" id="editor-album" value="" size="50">
                </div>
                <div>
                    <label for="editor-artists">{% trans %}Artists (delimit multiple using <kbd>;</kbd>){% endtrans %}</label><br>
                    <input type="text" id="editor-artists" value="" size="50">
                </div>
                <div>
                    <label for="editor-album-artist">{% trans %}Album artist{% endtrans %}</label><br>
                    <input type="text" id="editor-album-artist" value="" size="50">
                </div>
                <div>
                    <label for="editor-album-tags">{% trans %}Tags (delimit multiple using <kbd>;</kbd>){% endtrans %}</label><br>
                    <input type="text" id="editor-tags" value="" size="50">
                </div>
                <div>
                    <label for="editor-year">{% trans %}Year (4 characters){% endtrans %}</label><br>
                    <input type="text" id="editor-year" value="" size="50">
                </div>

                {{ icon_button('content-save', 'editor-save') }}

                <p id="editor-writing" class="hidden">{% trans %}Writing metadata...{% endtrans %}</p>
                <p id="editor-reloading" class="hidden">{% trans %}Reloading tracks...{% endtrans %}</p>
            </div>
        </div>
    </div>

    <div id="loading-overlay" class="full-page-overlay">
        <div>
            <div class="flex-content-center">
                <div class="spinner spinner-large"></div>
            </div>
            <div>
                <h3 class="loading-text">{% trans %}Loading...{% endtrans %}</h3>
                <p class="secondary">
                    {% trans %}If this is taking longer than expected, please check the browser console.{% endtrans %}
                </p>
            </div>
        </div>
    </div>

    <canvas id="visualiser"></canvas>

    <audio class="hidden" autoplay onended="queue.next()" id="audio"></audio>

    <div class="vignette"></div>

    <script src="/static/js/lib/fuse-6.6.2.js"></script>
    <script src="/player.js"></script>

    <div class="hidden" id="csrf-token">{{ csrf_token }}</div>
    <div class="hidden" id="primary-playlist">{{ primary_playlist }}</div>
    <div class="hidden" id="trans-artist">{% trans %}Artist: {% endtrans %}</div>
    <div class="hidden" id="trans-album">{% trans %}Album: {% endtrans %}</div>
    <div class="hidden" id="trans-tag">{% trans %}Tag: {% endtrans %}</div>
    <div class="hidden" id="trans-all-tracks">{% trans %}All tracks{% endtrans %}</div>

    <template id="template-queue-spinner">
        <tr>
            <td colspan="3" class="secondary downloading">
                <span class="spinner"></span>
            </td>
        </tr>
    </template>

    <template id="template-td-cover">
        <td class="box-rounded">
            <div class="delete-overlay">
                <div class="icon" style="background-image: url('/static/icon/delete.svg')"></div>
            </div>
        </td>
    </template>
</body>
{% endblock body %}
