{% extends "base_static.jinja2" %}

{% block title %}
    {% trans %}Radio{% endtrans %}
{% endblock title %}

{% block content %}

{{ page_heading(gettext('Radio')) }}

WARNING: Experimental<br>

<div id="audio"></div><br>

Status: <span id="status"></span><br>
Current: <span id="current"></span><br>
Next: <span id="next"></span></span>

<script src="/static/js/radio.js"></script>

<span id="csrf" class="hidden">{{ csrf }}</span>
{% endblock content %}
