{% extends "base.jinja2" %}

{% block content %}
    <main>
        {{ page_heading(gettext('Radio')) }}

        <div id="audio"></div><br>

        Status: <span id="status"></span><br>
        Current: <span id="current"></span><br>
        Next: <span id="next"></span></span>
    </main>

    <script src="/static/js/radio.js"></script>

    <span id="csrf" class="hidden">{{ csrf }}</span>
{% endblock content %}
