{% extends "base_static.jinja2" %}

{% block title %}
    {% trans %}Playback statistics{% endtrans %}
{% endblock title %}

{% block content %}

{{ page_heading(gettext('Playback statistics')) }}

<form method="GET">
    <input type="hidden" name="period" value="day">
    <input type="submit" value="{% trans %}Day{% endtrans %}">
</form>

<form method="GET">
    <input type="hidden" name="period" value="week">
    <input type="submit" value="{% trans %}Week{% endtrans %}">
</form>

<form method="GET">
    <input type="hidden" name="period" value="month">
    <input type="submit" value="{% trans %}Month{% endtrans %}">
</form>

<form method="GET">
    <input type="hidden" name="period" value="year">
    <input type="submit" value="{% trans %}Year{% endtrans %}">
</form>

<h2>{% trans %}Summary ({{ period_str }}){% endtrans %}</h2>

{% for plot in plots %}
    <img src="{{ plot }}" class="stats-plot">
{% endfor %}

{% endblock content %}
