{% extends "base_static.jinja2" %}

{% block title %}
    {% trans %}Playback statistics{% endtrans %}
{% endblock title %}

{% block content %}

{{ page_heading(gettext('Playback statistics')) }}

<button id="day">{% trans %}Day{% endtrans %}</button>
<button id="week">{% trans %}Week{% endtrans %}</button>
<button id="month">{% trans %}Month{% endtrans %}</button>
<button id="year">{% trans %}Year{% endtrans %}</button>

<p id="loading">{% trans %}Generating charts...{% endtrans %}</p>

<div id="test"></div>

<div id="plots"></div>

<link rel="stylesheet" href="/static/lib/toastui-chart-4.6.1.css">
<script src="/static/lib/toastui-chart-4.6.1.js"></script>

<script>
const data = {
  categories: ['Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
  series: [
    {
      name: 'Budget',
      data: [5000, 3000, 5000, 7000, 6000, 4000, 1000]
    },
    {
      name: 'Income',
      data: [8000, 4000, 7000, 2000, 6000, 3000, 5000]
    },
    {
      name: 'Expenses',
      data: [4000, 4000, 6000, 3000, 4000, 5000, 7000]
    },
    {
      name: 'Debt',
      data: [3000, 4000, 3000, 1000, 2000, 4000, 3000]
    }
  ]
}

const options = {
    chart: { title: 'Monthly Revenue', width: 900, height: 400 },
};

const el = document.getElementById('test');
const chart = toastui.Chart.columnChart({el, data,  options});
</script>

<script>

const loading = document.getElementById('loading');
const plots = document.getElementById('plots');
const buttons = ['day', 'week', 'month', 'year'].map(id => document.getElementById(id));

async function loadPlots(button) {
    for (const otherButton of buttons) {
        otherButton.disabled = false;
    }
    button.disabled = true;

    loading.classList.remove('hidden');
    plots.classList.add('hidden');
    plots.replaceChildren();

    const response = await fetch('/stats_data?period=' + encodeURIComponent(button.id));
    const json = await response.json();
    for (const plot of json) {
        const img = document.createElement('img');
        img.src = plot;
        img.classList.add('stats-plot');
        plots.append(img);
    }

    plots.classList.remove('hidden');
    loading.classList.add('hidden');
}

document.addEventListener('DOMContentLoaded', () => {
    for (const button of buttons) {
        button.addEventListener('click', () => loadPlots(button));
    }

    loadPlots(buttons[1]);
});

</script>

{% endblock content %}
