:root {
    --body-background: url('/static/img/background-colorful.jpg') no-repeat fixed center / cover;
    --main-background: rgba(0, 0, 0, 0.5);
    --font: 'Quicksand', Verdana, sans-serif;
    --text-color: white;
    --text-color-secondary: #ccc;
    --text-color-link: lightblue;
    --border-radius: .5rem;
    --gap: 1rem; /* used for space between large elements like images, boxes, and large buttons */
    --smallgap: .2rem; /* used for space between small elements like buttons */
    --border-width: 1px;
    --border-style: solid;
    --border-color: rgba(255, 255, 255, 0.3);
    --border-width-hover: var(--border-width);
    --border-style-hover: var(--border-style);
    --border-color-hover: rgba(255, 255, 255, 0.8);
    --background-color: rgba(20, 20, 20, 0.5);
    --background-color-active: rgba(255, 255, 255, 0.8);
    --background-color-hover: rgba(100, 100, 100, 0.4);
    --box-shadow: .3rem .3rem 1rem rgba(0, 0, 0, 0.3);
    --header-background: black;
}

@media screen and (max-width: 900px) {
    :root {
        --gap: .8rem;
    }
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('/static/font/quicksand-v30-latin-regular.woff2') format('woff2');
}
