/* inspired by: https://jdan.github.io/98.css */

:root {
    --body-background: #007f82;
    --main-background: silver;
    --font: 'Helvetica', sans-serif;
    --text-color: black;
    --text-color-secondary: gray;
    --text-color-link: blue;
    --border-radius: 0;
    --gap: .5rem;
    --smallgap: .2rem;
    --background-color: silver;
    --background-color-active: var(--background-color);
    --background-color-hover: var(--background-color);
    --box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
    --controls-box-shadow: var(--box-shadow);
    --controls-box-shadow-hover: var(--controls-box-shadow);
    --controls-box-shadow-active: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
    --controls-box-shadow-focus: var(--controls-box-shadow);
    --header-background: linear-gradient(to right, navy, #1084d0);
    --header-color: white;
}

:root {
    font-size: 14px;
}

.table,
.logbox,
input[type=text],
input[type=text]:hover,
input[type=password],
input[type=password]:hover,
input[type=checkbox],
input[type=checkbox]:hover {
    background: white;
}

input[type=checkbox]:checked {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='7' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 0H6v1H5v1H4v1H3v1H2V3H1V2H0v3h1v1h1v1h1V6h1V5h1V4h1V3h1V0z' fill='%23000'/%3E%3C/svg%3E") no-repeat center, white;
}

input[type=checkbox] {
    width: 1rem;
}

.table th,
.box {
    background: var(--background-color);
    box-shadow: var(--controls-box-shadow);
}

.icon {
    filter: none;
}

#seek-bar > #seek-bar-inner {
    background: var(--header-background);
    height: calc(100% - 4px);
    margin-top: 2px;
    margin-left: 2px;
}

/* ACTIVITY */

.activity-progress {
    background: navy;
}

/* PLAYER */

.bg-image {
    display: none;
}

.window-header {
    background: var(--header-background);
    color: var(--header-color);
}

.full-page-overlay {
    backdrop-filter: none;
}

.full-page-overlay, .window {
    transition: none;
}
