.icon-text-button {
    padding: var(--halfgap);
    display: flex;
    width: 100%;
    font-size: 1.5rem;
    gap: var(--halfgap);
    box-shadow: var(--controls-box-shadow), var(--box-shadow);
    transition: background-color .05s;
}

.icon-text-button:hover {
    text-decoration: none;
}

@media screen and (min-width: 30rem) {
    .icon-text-button {
        width: 23rem;
    }

    main {
        display: flex;
        flex-wrap: wrap;
        align-content: start;
        column-gap: var(--gap);
        justify-content: center;
    }
}

a:not(:last-child) {
    margin-bottom: var(--halfgap);
}
