.icon-text-button {
    background-color: var(--background-color);
    padding: var(--halfgap);
    display: flex;
    width: 100%;
    font-size: 1.5rem;
    gap: var(--halfgap);
    box-shadow: var(--box-shadow);
    transition: background-color .05s;
    outline: var(--outline)
}

.icon-text-button:hover {
    text-decoration: none;
    background-color: var(--hover-background-color);
}

.icon-text-button:active {
    background-color: var(--background-color-active);
}

@media screen and (min-width: 30rem) {
    .icon-text-button {
        width: 23rem;
    }
}
