{% extends "base_static.jinja2" %}

{% block title %}
    {% trans %}Account settings{% endtrans %}
{% endblock title %}

{% block content %}

{{ page_heading(gettext("Account settings")) }}

<h2>{% trans %}Settings{% endtrans %}</h2>
<form method="POST" action="/account/change_settings" class="form">
    <input type="hidden" value="{{ g.user.csrf }}" name="csrf">

    <label for="username">{% trans %}Username{% endtrans %}</label>
    <input type="text" value="{{ g.user.username }}" id="username" readonly>

    <label for="nickname">{% trans %}Nickname{% endtrans %}</label>
    <input type="text" value="{{ g.user.nickname if g.user.nickname }}" name="nickname" id="nickname">

    <label for="language-select">{% trans %}Language{% endtrans %}</label>
    <select name="language" id="language">
        <option value="" {% if not g.user.language %}selected{% endif %}>{% trans %}System language{% endtrans %}</option>
        {% for lang_code, lang_display in languages %}
            <option value="{{ lang_code }}" {% if lang_code == g.user.language %}selected{% endif %}>{{ lang_display }}</option>
        {% endfor %}
    </select>

    <label for="theme">{% trans %}Theme{% endtrans %}</label>
    <select name="theme" id="theme">
        {% for theme, theme_display in themes %}
            <option value="{{ theme }}" {% if theme == g.user.theme %}selected{% endif %}>{{ theme_display }}</option>
        {% endfor %}
    </select>

    <label for="privacy-select">{% trans %}Recording of listening activity{% endtrans %}</label>
    <select name="privacy" id="privacy-select">
        <option value="" {% if g.user.privacy.name == 'NONE' %}selected{% endif %}>{% trans %}Activity and statistics{% endtrans %}</option>
        <option value="aggregate" {% if g.user.privacy.name == 'AGGREGATE' %}selected{% endif %}>{% trans %}Not in activity, only in statistics{% endtrans %}</option>
        <option value="hidden" {% if g.user.privacy.name == 'HIDDEN' %}selected{% endif %}>{% trans %}No data recording{% endtrans %}</option>
    </select>

    <label for="playlist">{% trans %}Playlist{% endtrans %}</label>
    <select id="playlist" name="playlist">
        <option value="" {% if not g.user.primary_playlist %}selected{% endif %}></option>
        {% for playlist in playlists %}
            <option value="{{ playlist.name }}" {% if playlist.name == g.user.primary_playlist %}selected{% endif %}>{{ playlist.name }}</option>
        {% endfor %}
    </select>

    <input type="submit" value="{% trans %}Save{% endtrans %}">
</form>

<h2>{% trans %}Data export{% endtrans %}</h2>
<p>{% trans %}This export contains personal data stored in the database. It does not include music files, which can be downloaded separately using the file manager.{% endtrans %}</p>
<p><a class="button" target="_blank" href="/export/data">{% trans %}Download{% endtrans %}</a></p>

<h2>{% trans %}Last.fm{% endtrans%}</h2>
<p>
    {% if lastfm_enabled %}
        {% if lastfm_name %}
            {% trans name=lastfm_name %}Connected to last.fm account: {{ name }}{% endtrans%}<br>
            <form action="/lastfm_disconnect" method="POST">
                <input type="hidden" name="csrf" value="{{ g.user.csrf }}">
                <input type="submit" value="{% trans %}Disconnect last.fm account{% endtrans %}">
            </form>
        {% else %}
            <a href="{{ lastfm_connect_url }}">{% trans %}Connect your last.fm account{% endtrans %}</a>
        {% endif %}
    {% else %}
        {% trans %}Last.fm integration is not available, because no API key is configured by the server administrator.{% endtrans %}
    {% endif %}
</p>

<h2>{% trans %}Password{% endtrans %}</h2>
<form method="POST" action="/account/change_password" class="form">
    <input type="hidden" value="{{ g.user.csrf }}" name="csrf">
    <label for="current-password">{% trans %}Current password{% endtrans %}</label>
    <input type="password" value="" name="current_password" id="current-password">

    <label for="new-password">{% trans %}New password{% endtrans %}</label>
    <input type="password" value="" name="new_password" id="new-password">

    <label for="repeat-new-password">{% trans %}Repeat new password{% endtrans %}</label>
    <input type="password" value="" name="repeat_new_password" id="repeat-new-password">

    <input type="submit" value="{% trans %}Change password and log out all sessions{% endtrans %}">
</form>

<h2>{% trans %}Sessions{% endtrans%}</h2>
<table class="table">
    <thead>
        <tr>
            <th>{% trans %}Login date{% endtrans %}</th>
            <th>{% trans %}Last used{% endtrans %}</th>
            <th>{% trans %}Device{% endtrans %}</th>
            <th>{% trans %}IP address{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for session in sessions %}
            <tr>
                <td>{{ session.creation_date }}</td>
                <td>{{ session.last_use_ago }}</td>
                <td>{{ session.last_device }}</td>
                <td>{{ session.remote_address }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
