{% extends "base.jinja2" %}

{% block body %}
<body class="colorful">
    <div class="dither"></div>
    <div class="flex-content-center">
        <main>
            {% block content %}{% endblock content %}
        </main>
    </div>
</body>
{% endblock body %}
