{% extends "base_static.jinja2" %}

{% block title %}
    {% trans %}Guessing game{% endtrans %}
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/games_guess.css">
{% endblock styles %}

{% block content %}

{{ page_heading(gettext('Guessing game'), back_url='/') }}

<div class="boxes">
    <div id="instructions" class="box">
        <span id="loading-text">{% trans %}Loading{% endtrans %}</span>
        <span id="start-text" class="hidden">{% trans %}Click to start{% endtrans %}</span>
        <span id="reveal-text" class="hidden">{% trans %}Click to reveal{% endtrans %}</span>
        <span id="next-text" class="hidden">{% trans %}Click for next track{% endtrans %}</span>
    </div>

    <div id="cover-container" class="box">
        <div id="cover"></div>
    </div>

    <div id="details" class="box">

    </div>
</div>

<audio id="audio"></audio>
<div id="csrf-token" class="hidden">{{ csrf_token }}</div>

<script src="/static/js/base.js"></script>
<script src="/static/js/api.js"></script>
<script src="/static/js/games_guess.js"></script>

{% endblock content %}
