{% extends "base_static.jinja2" %}

{% block title %}
    {% trans %}Home{% endtrans%}
{% endblock title %}

{% macro nav(link, icon_name, title) %}
    <a href="{{ link }}" class="button icon-text-button">
        {{ icon(icon_name) }}
        <div>{{ title }}</div>
    </a>
{% endmacro %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/home.css">
{% endblock styles %}

{% block content %}

{% if offline_mode %}
    <h2>{% trans %}Music (offline mode){% endtrans %}</h2>
{% else %}
    <h2>{% trans %}Music{% endtrans %}</h2>
{% endif %}

{{ nav('/player', 'music', _('Music player')) }}

{% if not offline_mode %}
    {{ nav('/activity', 'history', _('Activity')) }}
    {{ nav('/stats', 'chart-bar', _('Statistics')) }}

    <h2>{% trans %}Files{%endtrans %}</h2>
    {{ nav('/files', 'folder', _('File manager')) }}
    {{ nav('/playlist/manage', 'playlist-music', _('Playlist manager')) }}
    {{ nav('/download', 'download', _('Downloader')) }}

    <h2>{% trans %}Settings{% endtrans %}</h2>
    {{ nav('/account', 'account-cog', _('Account')) }}
    {{ nav('/dislikes', 'thumb-down', _('Dislikes')) }}
{% endif %}

<h2>{% trans %}Games{% endtrans %}</h2>
{{ nav('/games/guess', 'dice-multiple', _('Guess')) }}
{{ nav('/games/chairs', 'transit-transfer', _('Musical chairs')) }}

<h2>{% trans %}Help{% endtrans %}</h2>
{{ nav('/info', 'help-circle', _('Manual')) }}
{{ nav('/install', 'application-import', _('Install as PWA')) }}

{% if not offline_mode %}
    <h2>{% trans %}Experimental{% endtrans %}</h2>
    {{ nav('/radio', 'radio', _('Radio')) }}

    {% if user_is_admin %}
        <h2>{% trans %}Administrative{% endtrans %}</h2>
        {{ nav('/users', 'account-multiple', _('User management')) }}
    {% endif %}
{% endif %}

{% endblock content %}
