{% extends "base.jinja2" %}

{% macro dialog_header(id, title, back_id = None) %}
    <div class="dialog-header">
        {% if back_id %}
            {{ icon_button('arrow-left', back_id) }}
        {% endif %}
        <h2>{{ title }}</h2>
        <button class="dialog-close-button icon-button" data-for="{{id}}">
            <div class="icon icon-close"></div>
        </button>
    </div>
{% endmacro %}

{% block title %}
    Super fancy music player 2.0
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/player.css">
{% endblock styles %}

{% block body %}
<body>
    <div id="bg-image-1" class="bg-image"></div>
    <div id="bg-image-2" class="bg-image"></div>
    <div class="dither"></div>

    <div class="sidebars">
        <div class="sidebar" id="left-sidebar">
            <div class="boxes">
                <div class="box padding" id="playlist-checkboxes">
                    {% trans %}Loading&mldr;{% endtrans %}
                </div>

                <div class="box padding">
                    <p>
                        <span id="current-track"></span>
                    </p>

                    <div id="outer-progress-bar">
                        <div id="progress-bar"></div>
                        <div class="flex-space-between">
                            <span id="progress-time-current" class="progress-time">--:--</span>
                            <span id="progress-time-duration" class="progress-time">--:--</span>
                        </div>
                    </div>

                    <div id="playback-controls">
                        {{ icon_button('home', 'button-home', title=gettext('Open home page in a new tab')) }}
                        {{ icon_button('skip-previous', 'button-prev', title=gettext('Go to beginning of current track, or previous track')) }}
                        {{ icon_button('play', 'button-play', title=gettext('Play')) }}
                        {{ icon_button('pause', 'button-pause', title=gettext('Pause')) }}
                        {{ icon_button('skip-next', 'button-next', title=gettext('Skip to next track')) }}
                        {% if not offline_mode %}
                            {{ icon_button('thumb-down', 'button-dislike', title=gettext('Never play again')) }}
                            {{ icon_button('pencil', 'button-edit', title=gettext('Open metadata editor')) }}
                            {{ icon_button('delete', 'button-delete', title=gettext('Delete currently playing track from playlist')) }}
                            {{ icon_button('content-duplicate', 'button-copy', title=gettext('Copy track to a different playlist')) }}
                            {{ icon_button('share', 'button-share', title=gettext('Open share link')) }}
                        {% endif %}

                        <div id="delete-spinner" class="raphson-spinner hidden"></div>

                        {% if mobile %}
                            {# 'data-restore=false' ensures volume is not overwritten from cookie #}
                            <input type="hidden" value="100" id="settings-volume" data-restore="false">
                        {% else %}
                            <input type="range" min="0" max="100" value="60" id="settings-volume">
                        {% endif %}
                    </div>
                </div>

                <div class="box padding box-queue">
                    <div class="flex-space-between">
                        <h3>{% trans %}Queue{% endtrans %} <span class="secondary" id="current-queue-size">0</span></h3>
                        <div id="queue-buttons">
                            {{ icon_button('web', 'open-dialog-online', title=gettext('Queue track from online source')) }}
                            {{ icon_button('playlist-remove', 'queue-clear', title=gettext('Clear queue')) }}
                            {{ icon_button('tag-multiple', 'open-dialog-tags', title=gettext('Open tag selection')) }}
                            {{ icon_button('playlist-music', 'browse-all', title=gettext('Browse all tracks')) }}
                            {{ icon_button('text-search', 'open-dialog-search', title=gettext('Search in tracks')) }}
                            {% if not offline_mode %}
                                {{ icon_button('cog', 'open-dialog-settings', title=gettext('Open settings')) }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="scroll">
                        <span id="no-playlists-selected" class="hidden">{% trans %}No playlists are selected{% endtrans %}</span>
                        <table id="queue-table"></table>
                    </div>
                </div>
            </div>
        </div>

        <div class="sidebar" id="right-sidebar">
            <div class="boxes">
                <div class="box" id="album-cover-box">
                    <div id="album-cover-1" class="cover-img"></div>
                    <div id="album-cover-2" class="cover-img"></div>
                     <canvas id="visualiser"></canvas>
                </div>
                <div class="box padding scroll hidden" id="lyrics-box">
                </div>
            </div>
        </div>
    </div>

    <div id="dialog-settings" class="full-page-overlay dialog-overlay overlay-hidden">
        <div class="dialog">
            {{ dialog_header('dialog-settings', gettext('Settings')) }}
            <div class="dialog-body form">
                <label for="settings-queue-size">{% trans %}Minimum queue size{% endtrans %}</label>
                <input type="number" value="5" size="3" min="0" max="100" id="settings-queue-size">

                {% if offline_mode %}
                    <select id="settings-audio-type" disabled class="hidden">
                        <option value="webm_opus_high" selected>hidden</option>
                    </select>
                {% else %}
                    <label for="settings-audio-type">{% trans %}Audio and image quality{% endtrans %}</label>
                    <select id="settings-audio-type">
                        <option value="webm_opus_high" selected>{% trans %}Very high quality (128k Opus){% endtrans %}</option>
                        <option value="webm_opus_low">{% trans %}Low quality (48k Opus){% endtrans %}</option>
                        <option value="mp4_aac">{% trans %}iOS/Safari (VBR 128kbps AAC){% endtrans %}</option>
                    </select>
                {% endif %}

                <label for="settings-queue-removal-behaviour">{% trans %}Queue removal behaviour{% endtrans %}</label>
                <select id="settings-queue-removal-behaviour">
                    <option value="roundrobin" selected>{% trans %}New track from next round-robin playlist{% endtrans %}</option>
                    <option value="same">{% trans %}New track from same playlist{% endtrans %}</option>
                </select>

                <label for="settings-download-mode">{% trans %}Audio download mode{% endtrans %}</label>
                <select id="settings-download-mode">
                    <option value="download" selected>{% trans %}Download full track when queued{% endtrans %}</option>
                    <option value="stream">{% trans %}Stream audio (experimental){% endtrans %}</option>
                </select>

                <label for="settings-audio-gain">{% trans %}Audio gain{% endtrans %} <span class="secondary">{% trans %}reduces audio quality{% endtrans %}</span></label>
                <select id="settings-audio-gain">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                </select>

                {% if offline_mode %}
                    <input id="settings-meme-mode" type="hidden">
                {% else %}
                    <label for="settings-meme-mode">{% trans %}Album cover art memes{% endtrans %}</label>
                    <input id="settings-meme-mode" type="checkbox">
                {% endif %}

                <label for="settings-theater">{% trans %}Theater mode{% endtrans %}</label>
                <input id="settings-theater" type="checkbox">

                {% if offline_mode %}
                    <input id="settings-news" type="checkbox" class="hidden">
                {% else %}
                    <label for="settings-news">{% trans %}Hourly news{% endtrans %}</label>
                    <input id="settings-news" type="checkbox">
                {% endif %}

                <label for="settings-visualiser">{% trans %}Visualiser{% endtrans %} <span class="secondary">{% trans %}increases energy usage{% endtrans %}</span></label>
                <input id="settings-visualiser" type="checkbox">
            </div>
        </div>
    </div>

    <div id="dialog-tags" class="full-page-overlay dialog-overlay overlay-hidden">
        <div class="dialog">
            {{ dialog_header('dialog-tags', gettext('Tags')) }}
            <div class="dialog-body">
                <label for="tag-mode">{% trans %}Tag mode{% endtrans %}</label>
                <select id="tag-mode">
                    <option value="none" selected>{% trans %}Ignore tags when choosing tracks{% endtrans %}</option>
                    <option value="allow">{% trans %}Only choose tracks with selected tags (untagged tracks are not chosen){% endtrans %}</option>
                    <option value="deny">{% trans %}Don't choose tracks with selected tags (untagged tracks are chosen){% endtrans %}</option>
                </select>
                <button id="select-all">{% trans %}(Un)select all{% endtrans %}</button>
                <div id="tag-checkboxes"></div>
            </div>
        </div>
    </div>

    <div id="dialog-browse" class="full-page-overlay dialog-overlay overlay-hidden">
        <div class="dialog">
            {{ dialog_header('dialog-browse', 'placeholder', back_id='browse-back') }}
            <div class="dialog-body">
                <select id="browse-filter-playlist" class="playlist-select">
                    <option value="all" data-keep="true">{% trans %}All{% endtrans %}</option>
                </select>

                <p id="browse-no-content">{% trans %}Please select a playlist.{% endtrans %}</p>

                <div id="browse-content"></div>
            </div>
        </div>
    </div>

    <div id="dialog-search" class="full-page-overlay dialog-overlay overlay-hidden">
        <div class="dialog">
            {{ dialog_header('dialog-search', gettext('Search')) }}
            <div class="dialog-body">
                <input id="search-query" type="text" placeholder="{% trans %}Search query{% endtrans %}" class="fill-width"><br>

                <div id="search-result-parent" class="hidden">
                    <h3>{% trans %}Tracks{% endtrans %}</h3>
                    <div id="search-result-tracks" class="scroll"></div>

                    <h3>{% trans %}Artists{% endtrans %}</h3>
                    <div id="search-result-artists"></div>

                    <h3>{% trans %}Albums{% endtrans %}</h3>
                    <div id="search-result-albums"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="dialog-editor" class="full-page-overlay dialog-overlay overlay-hidden">
        <div class="dialog">
            {{ dialog_header('dialog-editor', gettext('Metadata editor')) }}
            <div class="dialog-body" id="editor-content">
                <div class="form">
                    <label for="editor-path">{% trans %}File path{% endtrans %}</label>
                    <input type="text" id="editor-path" value="" readonly>

                    <label for="editor-title">{% trans %}Title{% endtrans %}</label>
                    <input type="text" id="editor-title" value="">

                    <label for="editor-album">{% trans %}Album{% endtrans %}</label>
                    <input type="text" id="editor-album" value="">

                    <label for="editor-artists">{% trans %}Artists (delimit multiple using <kbd>;</kbd>){% endtrans %}</label>
                    <input type="text" id="editor-artists" value="">

                    <label for="editor-album-artist">{% trans %}Album artist{% endtrans %}</label>
                    <input type="text" id="editor-album-artist" value="">

                    <label for="editor-album-tags">{% trans %}Tags (delimit multiple using <kbd>;</kbd>){% endtrans %}</label>
                    <input type="text" id="editor-tags" value="">

                    <label for="editor-year">{% trans %}Year (4 characters){% endtrans %}</label>
                    <input type="text" id="editor-year" value="">

                    {{ icon_button('content-save', 'editor-save', title=gettext('Save')) }}

                    {{ icon_button('auto-fix', 'editor-auto', title=gettext('Find metadata')) }}
                </div>

                <p id="editor-writing" class="hidden">{% trans %}Writing metadata...{% endtrans %}</p>

                <table id="editor-auto-result" class="table hidden">
                    <thead>
                        <tr>
                            <th>{% trans %}Title{% endtrans %}</th>
                            <th>{% trans %}Artist{% endtrans %}</th>
                            <th>{% trans %}Album{% endtrans %}</th>
                            <th>{% trans %}Year{% endtrans %}</th>
                            <th>{% trans %}Type{% endtrans %}</th>
                            <th>{% trans %}Packaging{% endtrans %}</th>
                        </tr>
                    </thead>
                    <tbody id="editor-auto-result-body">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% if not offline_mode %}
        <div id="dialog-online" class="full-page-overlay dialog-overlay overlay-hidden">
            <div class="dialog">
                {{ dialog_header('dialog-online', gettext('Add from online source (beta)')) }}
                <div class="dialog-body form" id="editor-content">
                    <label for="online-url">{% trans %}URL{% endtrans %}</label>
                    <input type="text" id="online-url" value="" placeholder="https://youtube.com/watch?v=...">

                    {{ icon_button('playlist-plus', 'online-add') }}
                </div>
            </div>
        </div>

        <div id="dialog-copy" class="full-page-overlay dialog-overlay overlay-hidden">
            <div class="dialog">
                {{ dialog_header('dialog-copy', gettext('Copy track')) }}
                <div class="dialog-body">
                    <p>{% trans %}Select playlist to copy track to:{% endtrans %}</p>
                    <input type="hidden" id="copy-track">
                    <select id="copy-playlist" class="playlist-select playlist-select-writable"></select>
                    <button id="copy-do-button">{% trans %}Copy{% endtrans %}</button>
                </div>
            </div>
        </div>
    {% endif %}

    <audio autoplay id="audio"></audio>

    <script src="/static/js/base.js"></script>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/player.js"></script>

    <div class="hidden" id="csrf-token">{{ csrf_token }}</div>
    <div class="hidden" id="primary-playlist">{{ primary_playlist }}</div>
    <div class="hidden" id="trans-artist">{% trans %}Artist: {% endtrans %}</div>
    <div class="hidden" id="trans-album">{% trans %}Album: {% endtrans %}</div>
    <div class="hidden" id="trans-tag">{% trans %}Tag: {% endtrans %}</div>
    <div class="hidden" id="trans-playlist">{% trans %}Playlist: {% endtrans %}</div>
    <div class="hidden" id="trans-browse">{% trans %}Browse{% endtrans %}</div>

    <template id="template-queue-spinner">
        <tr>
            <td colspan="2" class="secondary downloading">
                <span class="raphson-spinner"></span>
            </td>
        </tr>
    </template>

    <template id="template-td-cover">
        <td class="box">
            <div class="delete-overlay">
                {{ icon('delete') }}
            </div>
        </td>
    </template>
</body>
{% endblock body %}
