{% extends "base_static.jinja2" %}

{% block title %}
    {% trans %}Radio{% endtrans %}
{% endblock title %}

{% block content %}

{{ page_heading(gettext('Radio')) }}

<audio id="audio"></audio>

<button id="play">Click to play (or allow autoplay in your browser)</button><br>

<img id="image" height="500" width="500"><br>

Status: <span id="status"></span><br>
Current: <span id="current"></span><br>
Next: <span id="next"></span>

<script src="/static/js/base.js"></script>
<script src="/static/js/api.js"></script>
<script src="/static/js/radio.js"></script>
{% endblock content %}
