{% extends "base_static.jinja2" %}

{% block title %}
    {% trans %}Spotify compare{% endtrans %}
{% endblock title %}

{% block content %}

{{ page_heading(gettext('Spotify compare'), back_url='/playlist/manage') }}

<h2>{% trans %}Duplicates in Spotify playlist{% endtrans %}</h2>

{% if duplicates %}
    <p>{% trans %}Try to remove all duplicates first. Duplicate tracks may erroneously show as missing.{% endtrans %}</p>
    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Artists{% endtrans %}</th>
                <th>{% trans %}Title{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for row in duplicates %}
                <tr>
                    <td><kbd>{{ row.artists|join('</kbd> <kbd>'|safe) }}</kbd></td>
                    <td>{{ row.title }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{% trans %}No duplicates found.{% endtrans %}</p>
{% endif %}

<h2>{% trans %}Missing in Spotify{% endtrans %}</h2>

{% if only_local %}
    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Artists{% endtrans %}</th>
                <th>{% trans %}Title{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for row in only_local %}
                <tr>
                    <td><kbd>{{ row[1]|join('</kbd> <kbd>'|safe) }}</kbd></td>
                    <td>{{ row[0] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{% trans %}None found.{% endtrans %}</p>
{% endif %}

<h2>{% trans %}Missing in music player{% endtrans %}</h2>

{% if only_spotify %}
    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Artists{% endtrans %}</th>
                <th>{% trans %}Title{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for row in only_spotify %}
                <tr>
                    <td><kbd>{{ row.artists|join('</kbd> <kbd>'|safe) }}</kbd></td>
                    <td>{{ row.title }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{% trans %}None found.{% endtrans %}</p>
{% endif %}

<h2>{% trans %}Present in both{% endtrans %}</h2>

{% if both %}
    <table class="table">
        <thead>
            <tr>
                <th colspan="2">Music player</th>
                <th colspan="2">Spotify</th>
            </tr>
            <tr>
                <th>{% trans %}Artists{% endtrans %}</th>
                <th>{% trans %}Title{% endtrans %}</th>
                <th>{% trans %}Artists{% endtrans %}</th>
                <th>{% trans %}Title{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for row in both %}
                <tr>
                    <td><kbd>{{ row[0][1]|join('</kbd> <kbd>'|safe) }}</kbd></td>
                    <td>{{ row[0][0] }}</td>
                    <td><kbd>{{ row[1].artists|join('</kbd> <kbd>'|safe) }}</kbd></td>
                    <td>{{ row[1].title }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{% trans %}None found.{% endtrans %}</p>
{% endif %}

{% endblock content %}
