:root {
    --border-radius-amount: .5rem;
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('/static/quicksand-v30-latin-regular.woff2') format('woff2');
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: black;
    color: white;
}

body.light {
    background-color: white;
    color: black;
}

h1, h2, h3, h4, h5, h6,
p, label, th, td, div, a,
.progress-time {
    font-family: 'Quicksand', Verdana, sans-serif;
}

td, th {
    text-align: left;
}

p {
    margin: .2rem 0;
}

a {
    color: lightblue;
    text-decoration: none;
}

body.light a {
    color: darkblue;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.secondary {
    color: #ccc;
}

body.light .secondary {
    color: #303030;
}

p.secondary {
    font-size: .8em;
}

select,
button,
input[type=submit],
input[type=checkbox] {
    cursor: pointer;
}

select,
button,
input[type=text],
input[type=number],
input[type=submit],
input[type=password],
input[type=checkbox],
input[type=range] {
    padding: .3rem;
    background-color: rgba(50, 50, 50, 0.7);
    border: 1px solid black;
    border-radius: var(--border-radius-amount);
    color: white;
    margin-right: .3rem;
    margin-bottom: .3rem;
}

input[type=checkbox] {
    appearance: none; /* No native checkbox design */
    height: 1rem;
    width: 1.25rem;
    margin-bottom: 0;
}

input[type=checkbox]:checked {
    background-color: rgba(255, 255, 255, 0.8);
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    height: 1rem;
    padding: 0;
}

input[type=range]::-webkit-slider-thumb,
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    background: rgba(255, 255, 255, 0.8);
    height: 1rem;
    width: 1.25rem;
    margin: 0;
    padding: 0;
    border: none;
}

body.light select,
body.light button,
body.light input[type=text],
body.light input[type=number],
body.light input[type=submit],
body.light input[type=password],
body.light input[type=checkbox] {
    background-color: rgba(200, 200, 200, 0.7);
    border: 1px solid #505050;
    color: black;
}

body.light input[type=checkbox]:checked {
    background-color: rgba(0, 0, 0, 0.7);
}

.inline-block {
    display: inline-block;
}

main {
    background-color: #474747;
    margin: 1rem;
    padding: 1rem;
    border-radius: var(--border-radius-amount);
}

.icon {
    height: 2rem;
    width: 2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    filter: invert(1);
}

body.light .icon {
    filter: none;
}

.icon-button {
    padding: .25rem;
    margin: 0;
    height: 2.75rem;
    width: 2.75rem;
}

.hidden {
    display: none !important;
}

.fancy {
    font-family: monospace;
    color: red;
    animation: sleutelframes 1s ease-in-out infinite;
    position: relative;
    font-size: 1.5em;
}

@keyframes sleutelframes {
    0%, 100% {
    bottom: -.4em;
    }
    50% {
    bottom: .4em;
    }
}

a.large {
    font-size: 1.5em;
}

.table {
    width: 100%;
    border-spacing: 0;
    background: #313131;
    border-radius: var(--border-radius-amount); /* TODO why does border radius not apply to top? */
}

.table thead tr {
    background: #414141;
}

.table tr td,
.table tr th {
    padding: .3rem;
}

.table .icon-col {
    width: 2rem;
    height: 2rem;
}

.table .button-col {
    width: 2.75rem;
    height: 2.75rem;
}

.flex-content-center {
    display: flex;
    justify-content: center;
}

.flex-space-between {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.flex-space-between > * {
    display: inline;
}

.flex-space-between > span > h3 {
    margin: .75rem 0;
}
