.fancy {
    font-family: monospace;
    color: red;
    animation: sleutelframes 1s ease-in-out infinite;
    position: relative;
    font-size: 1.5em;
}

@keyframes sleutelframes {
    0%, 100% {
        bottom: -.4em;
    }
    50% {
        bottom: .4em;
    }
}

main {
    width: fit-content;
    height: fit-content;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap);
}

.flex-content-center {
    align-items: center;
}
