main {
    max-width: 40rem;
}

@media screen and (min-width: 40rem) {
    main {
        margin: 1rem;
        border-radius: var(--border-radius);
    }
}

.lyrics {
    width: auto;
}

.box {
    width: 100%;
    box-sizing: border-box;
}
