<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <style>
        .fancy {
            font-family: monospace;
            color: red;
            animation: sleutelframes 1s ease-in-out infinite;
            position: relative;
            font-size: 1.5em;
        }

        @keyframes sleutelframes {
            0%, 100% {
            bottom: -.4em;
            }
            50% {
            bottom: .4em;
            }
        }
    </style>
</head>
<body>
    <p>
        Gelieve in te loggen om toegang te krijgen tot
    </p>

    <span class="fancy">Super fancy music player 2.0</span>

    <br>
    <br>
    <br>

    <form method="POST">
        <input type="password" name="password" autofocus>
        <input type="submit" value="inloggen">
    </form>

</body>
</html>
