<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Super fancy music player 2.0</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div id="bg-image" class="background-cover"></div>

    <div id="left-sidebar" class="sidebar">

        <div>

            <div class="controls box">

                <h3>Raphson</h3>

                <span id="main-checkboxes">
                    <input type="checkbox" id="enable-CB" name="cb" checked>
                    <label for="cb">CB<sup>1</sup></label>
                    <input type="checkbox" id="enable-DK" name="dk" checked>
                    <label for="dk">DK<sup>2</sup></label>
                    <input type="checkbox" id="enable-JK" name="jk" checked>
                    <label for="jk">JK<sup>3</sup></label>
                </span>

                <br>

                <h3>Gasten</h3>

                {% if guests %}
                    <span id="guest-checkboxes">
                        {% for guest in guests %}
                            <input type="checkbox" id="enable-{{guest}}" name="Guest-{{guest}}">
                            <label for="enable-{{guest}}">{{guest}}<sup>{{loop.index + 3}}</label>
                        {% endfor %}
                    </span>
                {% else %}
                    <p>Er zijn geen mappen voor gasten</p>
                {% endif %}

                <br>

            </div>

            <div class="controls box">

                <h3>Muziek</h3>

                <p>
                Currently playing: [<span id="current-song-person">--</span>] <span id="current-song-title">-</span>
                </p>
                <p>
                Previous: [<span id="previous-song-person">--</span>] <span id="previous-song-title">-</span>
                </p>

                <div class="outer-bar">
                    <div id="progress-bar"></div>
                </div>

                <button id="ff-button">FF<sup>&gt;</sup></button>
                <div id="progress-time"></div>

            </div>

        </div>

    </div>

    <div id="right-sidebar" class="sidebar">
        <div id="album-cover" class="background-cover box"></div>
    </div>

    <div id="audio"></div>

    <script src="/script.js"></script>

</body>
</html>
