<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Super fancy music player 2.0</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div id="bg-image-1" class="bg-image background-cover"></div>
    <div id="bg-image-2" class="bg-image background-cover fade-image-top"></div>

    <div id="left-sidebar" class="sidebar">

        <div>

            <div class="controls box">

                <h3>Raphson</h3>

                <span id="main-checkboxes">
                    {% for person in raphson %}
                        <input type="checkbox" class="person-checkbox" id="checkbox-{{ person.dir_name }}" checked>
                        <label for="checkbox-{{ person.dir_name }}">{{ person.display_name }}<sup>{{ loop.index }}</sup> ({{ person.count_tracks() }})</label>
                    {% endfor %}
                </span>

                <br>

                <h3>Gasten</h3>

                {% if guests %}
                    <span id="guest-checkboxes">
                        {% for person in guests %}
                            <input type="checkbox" class="person-checkbox" id="checkbox-{{ person.dir_name }}" checked>
                            <label for="checkbox-{{ person.dir_name }}">{{ person.display_name }}<sup>{{ loop.index + 3}}</sup> ({{ person.count_tracks() }})</label>
                        {% endfor %}
                    </span>
                {% else %}
                    <p>Er zijn geen mappen voor gasten</p>
                {% endif %}

                <br>

            </div>

            <div class="controls box">

                <h3>Muziek</h3>

                <p>
                    <span id="current-track">Downloaden...</span>
                </p>
                <p class="secondary">
                    Vorige: <span id="previous-track">-</span>
                </p>

                <div class="outer-bar">
                    <div id="progress-bar"></div>
                </div>

                {% for button_name in ['backward-fast', 'backward', 'play', 'pause', 'forward', 'forward-fast', 'forward-step'] %}
                    <button id="button-{{ button_name }}" class="icon-button">
                        <div class="icon" style="background-image: url('{{ assets[button_name + '.svg'] }}')">
                    </button>
                {% endfor %}

                <span id="progress-time"></span>
            </div>

            <div class="controls box">
                <h3>Wachtrij</h3>
                <div id="queue"></div>
            </div>

        </div>

    </div>

    <div id="right-sidebar" class="sidebar">
        <div class="album-covers">
            <div id="album-cover-1" class="background-cover box"></div>
            <div id="album-cover-2" class="background-cover box fade-image-top"></div>
        </div>
    </div>

    <div id="audio"></div>

    <button id="settings-open">Open settings</button>

    <div id="settings-overlay" class="box">
        <button id="settings-close">Close settings</button>

        <h3>YouTube download</h3>
        <form>
            <select id="youtube-dl-directory">
                <option value="CB">CB</option>
                <option value="DK">DK</option>
                <option value="JK">JK</option>
                {% for guest in guests %}
                    <option value="Guest-{{ guest }}">{{ guest }} (Gast)</option>
                {% endfor %}
            </select>
            <input id="youtube-dl-url" placeholder="https://youtube.com/watch?v=..." required>
            <input id="youtube-dl-submit" type="submit" value="Download">
            <div id="youtube-dl-spinner" style="visibility: hidden" class="spinner"></div>
            <br>
            <textarea id="youtube-dl-output">Output will show here</textarea>
        </form>
    </div>

    {# A "variable" to be used by javascript #}
    <span id="trash-can-base64" style="display: none">{{ assets['trash-can.svg'] }}</span>

    <script src="/script.js"></script>

</body>
</html>
