<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Super fancy music player 2.0</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div id="bg-image" class="background-cover"></div>

    <main id="content">

        <button id="song-button">Start / FF</button>

        <br>

        <span id="main-checkboxes">
            <input type="checkbox" id="enable-CB" name="cb" checked>
            <label for="cb">CB</label>
            <input type="checkbox" id="enable-DK" name="dk" checked>
            <label for="dk">DK</label>
            <input type="checkbox" id="enable-JK" name="jk" checked>
            <label for="jk">JK</label>
        </span>

        <br>

        <span id="guest-checkboxes">
            {% for guest in guests %}
                <input type="checkbox" id="enable-{{guest}}" name="Guest-{{guest}}">
                <label for="enable-{{guest}}">{{guest}}</label>
            {% endfor %}
        </span>

        <br>

        <div id="album-cover" class="background-cover"></div>

        <p>
        Currently playing: [<span id="current-song-person">--</span>] <span id="current-song-title">-</span>
        </p>
        <p>
        Previous: [<span id="previous-song-person">--</span>] <span id="previous-song-title">-</span>
        </p>

        <div id="audio"></div>

    </main>

    <script src="/script.js"></script>

</body>
</html>
