@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('[[FONT_BASE64]]') format('woff2');
  }

body, html {
    height: 100vh;
    width: 100vw;
    margin: 0;

    /* De scale: 1.1 voor #bg-image veroorzaakt scroll bars, geen idee hoe ik dat moet fixen. Verberg ze gewoon! */
    /* overflow: hidden; */
}

h3, p, label, td, div, a {
    font-family: 'Quicksand', Verdana, sans-serif;
    color: white;
}

a {
    color: lightblue;
}

.sidebar-left h3 {
    margin: .5rem 0;
}

p {
    margin: .2rem 0;
}

.secondary {
    color: #ccc;
}

p.secondary {
    font-size: .7em;
}

button {
    cursor: pointer; /* waarom is dit niet standaard zo? */
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid white;
    filter: invert(1);
    border-radius: .5rem;
    padding: .5rem;
}

kbd {
    background-color: #222;
    color: white;
    padding: .2rem .4rem .1rem .4rem;
    border-bottom: .2rem solid gray;
    border-radius: .2rem;
}

#bg-image-2, #album-cover-2 {
    background-color: #222;
    transition: opacity 1s;
}

.bg-image {
    filter: blur(5rem);
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    z-index: -1;

    /* blur heeft witte randen, vergroot de achtergrond om dit te verbergen */
    /* scale: 1.2; */
}

.background-cover,
.spinner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.album-covers {
    aspect-ratio: 1 / 1; /* deze is heel nieuw, bestaat sinds 2021! */
    width: 100%;
    position: relative;
}

.album-covers > div {
    height: 100%;
    width: 100%;
    position: absolute;
}

@media screen and (min-width: 1000px) {
    .sidebar {
        position: absolute;
        top: 0;
        width: calc(50vw - 3rem);
        height: calc(100vh);
    }

    .lyrics-outer {
        padding: 1rem;
        width: 100%;
    }

    .sidebar-left {
        left: 0;
        padding-left: 2rem;
        padding-right: 1rem;
    }

    .sidebar-right {
        right: 0;
        padding-left: 1rem;
        padding-right: 2rem;
    }
}

@media screen and (max-width: 999px) {
    .sidebar {
        padding: 0 2rem;
    }

    .sidebar-right {
        padding-bottom: 2rem;
    }
}

.sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=checkbox] {
    height: 1.25rem;
    width: 1.25rem;
}

.sidebar > div {
    width: 100%;
    max-width: 60rem;
}

.sidebar-left > div > .box-solid {
    margin: 1.25rem 0;
}

#guest-playlists {
    max-height: 11rem;
    overflow-y: auto;
}

.box-queue {
    max-height: 40vh;
    overflow-y: auto;
}

.lyrics-outer {
    padding: 1rem;
    width: 100%;
}

#lyrics {
    /* column-count: 2; */
    color: white;
    max-height: 80vh;
    overflow-y: auto;
    /* text-shadow: .05rem .05rem .5rem black; */
}

#sidebar-lyrics {
    display: none;
}

audio {
    width: 100%;
}

.box-rounded {
    border-radius: .5rem;
    box-shadow: .3rem .3rem 1rem rgba(0, 0, 0, 0.3);
}

.box-solid {
    background-color: rgba(20, 20, 20, 0.4);
    /* blur is mooi maar een beetje glitchy op firefox */
    /* backdrop-filter: blur(8rem); */
    padding: 1rem;
}

.outer-bar,
#progress-bar {
    height: 1.5rem;
}

.outer-bar {
    border: 1px solid #ccc;
    width: 100%;
    margin: .5rem 0;
    position: relative; /* required for positioning of child */
}

.outer-bar > div {
    position: absolute;
    top: 0;
}

#progress-bar {
    background-color: #ccc;
    width: 0;
}

.flex-space-between {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.flex-space-between > * {
    display: inline;
}

#progress-time-current,
#progress-time-duration {
    margin: 0 .25rem;
    font-size: 1.1rem;
}

#progress-time-current {
    color: black;
}

.icon-button {
    padding: .4rem;
}

.queue-table {
    width: 100%;
    border-spacing: .5rem;
}

.queue-table td {
    height: 4rem;
    font-size: .95rem;
}

/* album image column */
.queue-table td:first-child {
    width: 4rem;
    cursor: pointer;
}

.queue-table td.downloading,
.queue-table td:nth-child(2) {
    text-align: center;
}

.delete-overlay {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-overlay > .icon {
    filter: invert(1);
    opacity: 0;
}

.delete-overlay {
    border-radius: 100%;
    transition: background-color .25s;
}

.delete-overlay > .icon {
    transition: opacity .25s;
}

.delete-overlay:hover {
    background-color: red;
}

.delete-overlay:hover > .icon {
    opacity: 1.0;
}

.spinner {
    animation: rotate 1.25s linear infinite;
    display: inline-block;
    margin-left: 1rem;
    background-image: url('/raphson');
    height: 2rem;
    width: 2rem;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.icon {
    height: 1.75rem;
    width: 1.75rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.full-page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2rem);
    background-color: rgba(255, 255, 255, 0.1);
}

.full-page-overlay .box-solid {
    max-width: 60rem;
}

.hotkeys-table {
    border-spacing: 2rem .5rem;
    margin: 0 -2rem;
}

#youtube-dl-output {
    /* Render \n as <br> */
    white-space: pre-wrap;
    height: 15rem;
    overflow: auto;
    border: 1px solid gray;
    border-radius: .5rem;
    padding: .5rem;
    margin-top: .5rem;
}

.checkbox-with-label {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: .25rem;
    margin-top: .25rem;
    white-space: nowrap;
}

#track-list-output {
    max-height: 40rem;
    overflow-y: auto;
}

/* https://codepen.io/Ragnarokkr/pen/DWQPPM */
.vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 75px rgba(0,0,0,0.9) inset;
    pointer-events: none;
}
