{% extends "base_static.jinja2" %}

{% block title %}
    {% trans %}Activity{% endtrans %}
{% endblock title %}

{% block content %}

{{ page_heading(gettext('Activity')) }}

<h2>{% trans %}Now playing{% endtrans %}</h2>

<div class="hidden" id="nothing-playing-text">{% trans %}No one is playing music.{% endtrans %}</div>

<div class="card-container" id="now-playing"></div>

<h2>{% trans %}Playback history{% endtrans %}</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                {% trans %}Time{% endtrans %}
            </th>
            <th>
                {% trans %}User{% endtrans %}
            </th>
            <th>
                {% trans %}Playlist{% endtrans %}
            </th>
            <th>
                {% trans %}Track{% endtrans %}
            </th>
        </tr>
    </thead>
    <tbody id="tbody-history">
    </tbody>
</table>

<br>
<a href="/activity/all">{% trans %}View more{% endtrans %}</a>

<h2>{% trans %}Recent file changes{% endtrans %}</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                {% trans %}Time{% endtrans %}
            </th>
            <th>
                {% trans %}Action{% endtrans %}
            </th>
            <th>
                {% trans %}Playlist{% endtrans %}
            </th>
            <th>
                {% trans %}Track{% endtrans %}
            </th>
        </tr>
    </thead>
    <tbody>
        <tbody id="tbody-changes"></tbody>
    </tbody>
</table>

<br>
<a href="/activity/files">{% trans %}View more{% endtrans %}</a>

<style>
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    background: rgba(0, 0, 0, 0.5);
    border-radius: var(--border-radius-amount);
    overflow: hidden; /* prevent header from overlapping rounded corners */
    flex: 1; /* grow to fill container width */
    min-width: min(100%, 25rem);
}

.card .card-header {
    background: rgba(0, 0, 0, 0.2);
    padding: .5rem;
    font-size: 1.3em;
}

.card .card-body {
    padding: .5rem;
}

.card-progress {
    height: 2px;
    background-color: white;
}
</style>

<script src="/static/js/base.js"></script>
<script src="/static/js/activity.js"></script>

{% endblock content %}
