{% extends "base_static.jinja2" %}

{% block title %}
    {% trans %}Recent file changes{% endtrans %}
{% endblock title %}

{% block content %}

{{ page_heading(gettext('Recent file changes'), back_url='/activity') }}

<table class="table">
    <thead>
        <tr>
            <th colspan="2">
                {% trans %}Time{% endtrans %}
            </th>
            <th>
                {% trans %}Action{% endtrans %}
            </th>
            <th>
                {% trans %}Playlist{% endtrans %}
            </th>
            <th>
                {% trans %}Track{% endtrans %}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for change in changes %}
            <tr>
                <td class="format-timestamp">{{ change['timestamp'] }}</td>
                <td>{{ change['time_ago'] }}</td>
                <td>{{ change['action'] }}</td>
                <td>{{ change['playlist'] }}</td>
                <td>{{ change['track'] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script src="/static/js/base.js"></script>
{% endblock content %}
