{% extends "base_static.jinja2" %}

{% block title %}
    {% trans %}Music downloader{% endtrans %}
{% endblock title %}

{% block content %}

{{ page_heading(gettext('Music downloader')) }}

<h2>{% trans %}Search{% endtrans %}</h2>

<form action="" id="search-form">
    <input id="csrf-token" type="hidden" value="{{ csrf_token }}">

    <input id="search-query" type="text" placeholder="{% trans %}Search query{% endtrans %}">

    {# <label for="search-multiple">{% trans %}Search multiple (slower){% endtrans %}</label>
    <input id="multiple" type="checkbox"><br> #}

    <input type="submit" id="search-button" value="{% trans %}Search{% endtrans %}">
    <div id="search-loading" class="icon icon-loading spinning hidden"></div>
</form>

<table class="table hidden" id="search-table">
    <thead>
        <tr>
            <th>{% trans %}Title{% endtrans %}</th>
            <th>{% trans %}Views{% endtrans %}</th>
            <th>{% trans %}Duration{% endtrans %}</th>
            <th>{% trans %}Channel{% endtrans %}</th>
        </tr>
    </thead>
    <tbody id="search-results"></tbody>
</table>

<h2>{% trans %}Download{% endtrans %}</h2>

<label for="url">{% trans %}Enter URL manually or use the search function above (click on a table row to copy the URL here).{% endtrans %}</label><br>
<input id="download-url" type="text" class="fill-width"><br>

<select id="download-playlist">
    {% for playlist, write in playlists %}
        <option name="{{ playlist }}" {% if not write %}disabled{% endif %} {% if playlist == primary_playlist %}selected{% endif %}>{{ playlist }}</option>
    {% endfor %}
</select><br>

<button id="download-button">{% trans %}Download{% endtrans %}</button>
<div id="download-loading" class="icon icon-loading spinning hidden"></div>
<br>

<div id="download-log" class="logbox fill-width"></div><br>

<script src="/static/js/base.js"></script>
<script src="/static/js/download.js"></script>

{% endblock content %}
