{% extends "base_static.jinja2" %}

{% block title %}
    {% trans %}Rename file{% endtrans %}
{% endblock title %}

{% block content %}

{{ page_heading(gettext('Rename file'), back_url=back_url) }}

<form method="POST" class="fill-width">
    <input type="hidden" name="csrf" value="{{ csrf_token }}">
    <input type="hidden" name="path" value="{{ path }}">
    <input type="text" name="new-name" value="{{ name }}" class="fill-width"><br>
    <input type="submit" value="{% trans %}Rename{% endtrans %}">
</form>

{% endblock content %}
