{% extends "base_static.jinja2" %}

{% block title %}
    {% trans %}Rename file{% endtrans %}
{% endblock title %}

{% block content %}

{{ page_heading(gettext('Rename file'), back_url=back_url) }}

<form method="POST" style="width: 100%;">
    <input type="hidden" name="csrf" value="{{ csrf_token }}">
    <input type="hidden" name="path" value="{{ path }}">
    <input type="text" name="new-name" value="{{ name }}" size="100" style="max-width: 100%;"><br>
    <input type="submit" value="{% trans %}Rename{% endtrans %}">
</form>

{% endblock content %}
