{% extends "base_static.jinja2" %}

{% block title %}
    {% trans %}Install as PWA{% endtrans %}
{% endblock title %}

{% block content %}

{{ page_heading(gettext('Install as PWA')) }}

<p>{% trans %}This website can be installed as a Progressive Web App (PWA). This will add it to your application launcher on your desktop computer or mobile device.{% endtrans %}</p>

<br>

<div id="no-support">

    <p>{% trans %}Look for an "Install" option in your browser menu or navigation bar.{% endtrans %}</p>

    <img src="/static/img/pwa_install_chromium.webp" width="257">
    <img src="/static/img/pwa_install_firefox_android.webp" width="257">

    <p>{% trans %}Browsers with PWA support:{% endtrans %}</p>
    <ul>
        <li>{% trans %}Firefox and Chromium-based browsers on Android. Chromium-based browsers are recommended because Firefox does not provide media player controls.{% endtrans %}</li>
        <li>{% trans %}Chromium-based browers for Linux, Windows, or macOS (Chrome, Edge, Opera, Brave, ...){% endtrans %}</li>
    </ul>

    <p>{% trans %}iOS supports PWAs, but they are restricted to Safari only. New DMA laws by the European Union required
    Apple to allow all browsers to provide the same functionality. But instead of allowing other browsers to install PWAs, they have
    disabled support for PWAs completely for EU users because of <a href="https://developer.apple.com/support/dma-and-apps-in-the-eu">"privacy concerns"</a>.{% endtrans %}</p>
</div>

<div id="yes-support" class="hidden">
    <p>{% trans %}Click the install button below to install the music player as an application:{% endtrans %}</p>
    {{ icon_button('application-import', id='install-button')}}
</div>

<script src="/static/js/install.js"></script>

{% endblock content %}
