{% extends "base.jinja2" %}

{% macro dialog_header(id, title, back_id = None) %}
    <div class="dialog-header">
        {% if back_id %}
            {{ icon_button('arrow-left', back_id) }}
        {% endif %}
        <h2>{{ title }}</h2>
        <button class="dialog-close-button icon-button" data-for="{{id}}">
            <div class="icon icon-close"></div>
        </button>
    </div>
{% endmacro %}

{% block title %}
    Super fancy music player 2.0
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/player.css">
{% endblock styles %}

{% block body %}
<body>
    <div id="bg-image-1" class="bg-image"></div>
    <div id="bg-image-2" class="bg-image"></div>
    <div class="dither"></div>

    <div class="sidebar sidebar-left">

        <div>

            <div class="box-rounded box-solid">
                <div id="playlist-checkboxes">
                    {% trans %}Loading&mldr;{% endtrans %}
                </div>
            </div>

            <div class="box-rounded box-solid">
                <p>
                    <span id="current-track">{% trans %}Waiting for music in queue&mldr;{% endtrans %}</span>
                </p>
                <p class="seconday hidden">
                    {% trans %}Previously: {% endtrans %} <span id="previous-track">-</span>
                </p>

                <div id="outer-progress-bar">
                    <div id="progress-bar"></div>
                    <div class="flex-space-between">
                        <span id="progress-time-current" class="progress-time">--:--</span>
                        <span id="progress-time-duration" class="progress-time">--:--</span>
                    </div>
                </div>

                {{ icon_button('home', 'button-home', title=gettext('Open home page in a new tab')) }}
                {{ icon_button('skip-previous', 'button-prev', title=gettext('Go to beginning of current track, or previous track')) }}
                {{ icon_button('play', 'button-play', title=gettext('Play')) }}
                {{ icon_button('pause', 'button-pause', title=gettext('Pause')) }}
                {{ icon_button('skip-next', 'button-next', title=gettext('Skip to next track')) }}
                {# {{ icon_button('microphone', 'button-lyrics', title=gettext('Show lyrics instead of album cover')) }}
                {{ icon_button('album', 'button-album', title=gettext('Show album cover instead of lyrics')) }} #}
                {{ icon_button('pencil', 'button-edit', title=gettext('Open metadata editor')) }}
                {{ icon_button('thumb-down', 'button-dislike', title=gettext('Never play again')) }}
                {{ icon_button('delete', 'button-delete', title=gettext('Delete currently playing track from playlist')) }}
                {% if not offline_mode %}
                    {{ icon_button('content-duplicate', 'button-copy', title=gettext('Copy track to your primary playlist')) }}
                {% endif %}

                <div id="delete-spinner" class="raphson-spinner hidden"></div>

                {% if mobile %}
                    {# 'data-restore=false' ensures volume is not overwritten from cookie #}
                    <input type="hidden" value="100" id="settings-volume" data-restore="false">
                {% else %}
                    <input type="range" min="0" max="100" value="60" id="settings-volume">
                {% endif %}
            </div>

            <div class="box-rounded box-solid box-queue">
                <div class="flex-space-between">
                    <h3>{% trans %}Queue{% endtrans %} (<span id="current-queue-size">0</span>)</h3>
                    <div>
                        {{ icon_button('tag-multiple', 'open-dialog-tags', title=gettext('Open tag selection')) }}
                        {{ icon_button('playlist-music', 'browse-all', title=gettext('Browse all tracks')) }}
                        {{ icon_button('text-search', 'open-dialog-search', title=gettext('Search in tracks')) }}
                        {{ icon_button('cog', 'open-dialog-settings', title=gettext('Open settings')) }}
                    </div>
                </div>
                <div class="scroll">
                    <span id="no-playlists-selected" class="hidden">{% trans %}No playlists are selected{% endtrans %}</span>
                    <table id="queue-table"></table>
                </div>
            </div>

        </div>

    </div>

    <div class="sidebar sidebar-right" id="sidebar-album-covers">
        <div id="album-covers">
            <div id="album-cover-1" class="box-rounded"></div>
            <div id="album-cover-2" class="box-rounded"></div>
        </div>
    </div>

    <div class="sidebar sidebar-right hidden" id="sidebar-lyrics">
        <div id="lyrics-box" class="lyrics-outer box-rounded box-solid">
            <div id="lyrics-scroll">
                <i id="lyrics-not-found" class="hidden">{% trans %}No lyrics found{% endtrans %}</i>
                <span id="lyrics-text"></span>
                <br>
                <a id="lyrics-source" class="secondary hidden" href="#" target="_blank">{% trans %}Source{% endtrans %}</a>
            </div>
        </div>
    </div>

    <div id="dialog-settings" class="full-page-overlay dialog-overlay overlay-hidden">
        <div class="dialog">
            {{ dialog_header('dialog-settings', gettext('Settings')) }}
            <div class="dialog-body">
                {# <label for="settings-theme">{% trans %}Theme{% endtrans %}</label><br>

                <select id="settings-theme">
                    <option value="dark" selected>{% trans %}Dark{% endtrans%}</option>
                    <option value="light">{% trans %}Light{% endtrans%}</option>
                    <option value="browser">{% trans %}Use system preference{% endtrans%}</option>
                </select><br> #}

                <label for="settings-queue-size">{% trans %}Minimum queue size{% endtrans %}</label><br>
                <input type="number" value="5" size="3" min="0" max="100" id="settings-queue-size"><br>

                {% if offline_mode %}
                    <select id="settings-audio-type" disabled class="hidden">
                        <option value="webm_opus_high" selected>hidden</option>
                    </select>
                {% else %}
                    <label for="settings-audio-type">{% trans %}Audio and image quality{% endtrans %}</label><br>
                    <select id="settings-audio-type">
                        <option value="webm_opus_high" selected>{% trans %}Very high quality (128k Opus){% endtrans %}</option>
                        <option value="webm_opus_low">{% trans %}Low quality (48k Opus){% endtrans %}</option>
                        <option value="mp4_aac">{% trans %}iOS/Safari (VBR 128kbps AAC){% endtrans %}</option>
                    </select><br>
                {% endif %}

                <label for="settings-queue-removal-behaviour">{% trans %}Queue removal behaviour{% endtrans %}</label><br>
                <select id="settings-queue-removal-behaviour">
                    <option value="roundrobin" selected>{% trans %}New track from next round-robin playlist{% endtrans %}</option>
                    <option value="same">{% trans %}New track from same playlist{% endtrans %}</option>
                </select><br>

                <label for="settings-download-mode">{% trans %}Audio download mode{% endtrans %}</label><br>
                <select id="settings-download-mode">
                    <option value="download" selected>{% trans %}Download full track when queued{% endtrans %}</option>
                    <option value="stream">{% trans %}Stream audio (experimental){% endtrans %}</option>
                </select><br>

                <label for="settings-audio-gain">{% trans %}Audio gain (reduces audio quality){% endtrans %}</label><br>
                <select id="settings-audio-gain">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                </select><br>

                {% if offline_mode %}
                    <input id="settings-meme-mode" type="hidden">
                {% else %}
                    <label for="settings-meme-mode">{% trans %}Album cover art memes{% endtrans %}</label><br>
                    <input id="settings-meme-mode" type="checkbox"><br>
                {% endif %}

                {% if offline_mode %}
                    <select id="settings-news" class="hidden">
                        <option value="disabled" selected></option>
                    </select>
                {% else %}
                    <label for="settings-news">{% trans %}Hourly news{% endtrans %}</label><br>
                    <select id="settings-news">
                        <option value="disabled" selected>{% trans %}Disabled{% endtrans %}</option>
                        <option value="nu.nl">NU.nl Nieuwsbulletin</option>
                        <option value="npr">NPR News Now</option>
                        <option value="bbc">BBC News</option>
                    </select>
                {% endif %}

                <p>{% trans %}The local music cache is updated every 5 minutes. If you've modified files, you may want to force an update.{% endtrans %}</p>
                <button id="scan-button">{% trans %}Force update track list cache{% endtrans %}</button>
                <div id="scan-spinner" class="raphson-spinner hidden"></div>
            </div>
        </div>
    </div>

    <div id="dialog-tags" class="full-page-overlay dialog-overlay overlay-hidden">
        <div class="dialog">
            {{ dialog_header('dialog-tags', gettext('Tags')) }}
            <div class="dialog-body">
                <select id="tag-mode">
                    <option value="allow">{% trans %}Only choose tracks with enabled tags (tracks without tags are never chosen){% endtrans %}</option>
                    <option value="deny" selected>{% trans %}Don't choose tracks with disabled tags (tracks with enabled tags or no tags are chosen){% endtrans %}</option>
                </select>{% trans %}Tag mode{% endtrans %}
                <div id="tag-checkboxes"></div>
            </div>
        </div>
    </div>

    <div id="dialog-browse" class="full-page-overlay dialog-overlay overlay-hidden">
        <div class="dialog">
            {{ dialog_header('dialog-browse', 'placeholder', back_id='browse-back') }}
            <div class="dialog-body">
                <select id="browse-filter-playlist" class="playlist-select">
                    <option value="all" data-keep="true">{% trans %}All{% endtrans %}</option>
                </select>

                <p id="browse-no-content">{% trans %}Please select a playlist.{% endtrans %}</p>

                <div id="browse-content"></div>
            </div>
        </div>
    </div>

    <div id="dialog-search" class="full-page-overlay dialog-overlay overlay-hidden">
        <div class="dialog">
            {{ dialog_header('dialog-search', gettext('Search')) }}
            <div class="dialog-body">
                <input id="search-query" type="text" placeholder="{% trans %}Search query{% endtrans %}">

                <div id="search-result-empty">
                    {% trans %}Please enter a search query.{% endtrans %}
                </div>

                <div id="search-result-parent" class="hidden">
                    <h3>{% trans %}Tracks{% endtrans %}</h3>
                    <div id="search-result-tracks" class="scroll"></div>

                    <h3>{% trans %}Artists{% endtrans %}</h3>
                    <div id="search-result-artists"></div>

                    <h3>{% trans %}Albums{% endtrans %}</h3>
                    <div id="search-result-albums"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="dialog-editor" class="full-page-overlay dialog-overlay overlay-hidden">
        <div class="dialog">
            {{ dialog_header('dialog-editor', gettext('Metadata editor')) }}
            <div class="dialog-body" id="editor-content">
                <p>
                    {% trans %}Editing metadata for: {% endtrans %}<span id="editor-html-title"></span>
                </p>
                <br>
                <div>
                    <label for="editor-title">{% trans %}Title{% endtrans %}</label><br>
                    <input type="text" id="editor-title" value="" size="50">
                </div>
                <div>
                    <label for="editor-album">{% trans %}Album{% endtrans %}</label><br>
                    <input type="text" id="editor-album" value="" size="50">
                </div>
                <div>
                    <label for="editor-artists">{% trans %}Artists (delimit multiple using <kbd>;</kbd>){% endtrans %}</label><br>
                    <input type="text" id="editor-artists" value="" size="50">
                </div>
                <div>
                    <label for="editor-album-artist">{% trans %}Album artist{% endtrans %}</label><br>
                    <input type="text" id="editor-album-artist" value="" size="50">
                </div>
                <div>
                    <label for="editor-album-tags">{% trans %}Tags (delimit multiple using <kbd>;</kbd>){% endtrans %}</label><br>
                    <input type="text" id="editor-tags" value="" size="50">
                </div>
                <div>
                    <label for="editor-year">{% trans %}Year (4 characters){% endtrans %}</label><br>
                    <input type="text" id="editor-year" value="" size="50">
                </div>

                {{ icon_button('content-save', 'editor-save') }}

                <p id="editor-writing" class="hidden">{% trans %}Writing metadata...{% endtrans %}</p>
                <p id="editor-reloading" class="hidden">{% trans %}Reloading tracks...{% endtrans %}</p>
            </div>
        </div>
    </div>

    {% if not offline_mode %}
        <div id="dialog-copy" class="full-page-overlay dialog-overlay overlay-hidden">
            <div class="dialog">
                {{ dialog_header('dialog-copy', gettext('Copy track')) }}
                <div class="dialog-body">
                    <p>{% trans %}Select playlist to copy track to:{% endtrans %}</p>
                    <input type="hidden" id="copy-track">
                    <select id="copy-playlist" class="playlist-select playlist-select-writable"></select>
                    <button id="copy-do-button">{% trans %}Copy{% endtrans %}</button>
                </div>
            </div>
        </div>
    {% endif %}

    <div id="loading-overlay" class="full-page-overlay">
        <div>
            <div class="flex-content-center">
                <div class="raphson-spinner large"></div>
            </div>
            <div>
                <h3 class="loading-text">{% trans %}Loading...{% endtrans %}</h3>
                <p class="secondary">
                    {% trans %}If this is taking longer than expected, please check the browser console.{% endtrans %}
                </p>
            </div>
        </div>
    </div>

    <input type="hidden" id="csrf-token" value="{{ csrf_token }}">

    <canvas id="visualiser"></canvas>

    <audio class="hidden" autoplay id="audio"></audio>

    <div class="vignette"></div>

    <script src="/static/lib/fuzzysort-2.0.4.js"></script>
    <script src="/static/js/base.js"></script>
    <script src="/static/js/player.js"></script>

    <div class="hidden" id="primary-playlist">{{ primary_playlist }}</div>
    <div class="hidden" id="trans-artist">{% trans %}Artist: {% endtrans %}</div>
    <div class="hidden" id="trans-album">{% trans %}Album: {% endtrans %}</div>
    <div class="hidden" id="trans-tag">{% trans %}Tag: {% endtrans %}</div>
    <div class="hidden" id="trans-all-tracks">{% trans %}All tracks{% endtrans %}</div>

    <template id="template-queue-spinner">
        <tr>
            <td colspan="2" class="secondary downloading">
                <span class="raphson-spinner"></span>
            </td>
        </tr>
    </template>

    <template id="template-td-cover">
        <td class="box-rounded">
            <div class="delete-overlay">
                {{ icon('delete') }}
            </div>
        </td>
    </template>
</body>
{% endblock body %}
