{% extends "base_static.jinja2" %}

{% block title %}
    {% trans %}Playlist manager{% endtrans %}
{% endblock title %}

{% block content %}

{{ page_heading(gettext('Playlist manager')) }}

<h2>{% trans %}My playlist{% endtrans %}</h2>
<p>
    {% trans %}Whenever a playlist needs to be selected, your playlist will be selected by default.{% endtrans %}
    {% if primary_playlist %}
        {% trans %}Your current primary playlist is '{{ primary_playlist }}'.{% endtrans %}
    {% else %}
        {% trans %}You do not have a playlist configured.{% endtrans %}
    {% endif %}
</p>

<form action="/playlist/set_primary" method="POST">
    <input type="hidden" name="csrf" value="{{ csrf_token }}">
    <select name="primary-playlist">
        {% for playlist in playlists %}
            <option value="{{ playlist.name }}" {% if playlist.name == primary_playlist %}selected{% endif %}>{{ playlist.name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="{% trans %}Set as my playlist{% endtrans %}">
</form>

<h2>{% trans %}Create new playlist{% endtrans %}</h2>
<form action="/playlist/create" method="POST">
    <input type="hidden" name="csrf" value="{{ csrf_token }}">
    <input type="text" name="path" placeholder="{% trans %}Directory name{% endtrans %}">
    <input type="submit" value="{% trans %}Create{% endtrans %}">
</form>

<h2>{% trans %}Playlists{% endtrans %}</h2>

{% if user_is_admin %}
    <p>{% trans %}As an administrator, you can modify tracks in all playlists even without write access.{% endtrans %}</p>
{% endif %}

<p>
{{ icon('star') }} {% trans %}Favorite playlist. Shows in the top row and is enabled by default.{% endtrans %}<br>
{{ icon('file-edit') }} {% trans %}You are allowed to modify files in this playlist.{% endtrans %}<br>
{{ icon('account-star') }} {% trans %}This is your primary playlist.{% endtrans %}<br>
</p><br>

<table class="table">
    <thead>
        <tr>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Info{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for playlist in playlists %}
            <tr>
                <td>
                    {{ playlist.name }}
                </td>
                <td>
                    {% if playlist.favorite %}
                        {{ icon('star') }}
                    {% endif %}
                    {% if playlist.write  %}
                        {{ icon('file-edit') }}
                    {% endif %}
                    {% if playlist.name == primary_playlist  %}
                        {{ icon('account-star') }}
                    {% endif %}
                </td>
                <td>
                    <form action="/playlist/favorite" method="POST" class="form-inline">
                        <input type="hidden" name="csrf" value="{{ csrf_token }}">
                        <input type="hidden" name="playlist" value="{{ playlist.name }}">
                        {% if playlist.favorite %}
                            <input type="hidden" name="favorite" value="0">
                            <input type="submit" value="{% trans %}Remove favorite{% endtrans %}">
                        {% else %}
                            <input type="hidden" name="favorite" value="1">
                            <input type="submit" value="{% trans %}Make favorite{% endtrans %}">
                        {% endif %}
                    </form>
                    {% if user_is_admin or playlist.write %}
                        <form action="/playlist/share" method="GET" class="form-inline">
                            <input type="hidden" name="csrf" value="{{ csrf_token }}">
                            <input type="hidden" name="playlist" value="{{ playlist.name }}">
                            <input type="submit" value="{% trans %}Share{% endtrans %}">
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h2>{% trans %}Statistics{% endtrans %}</h2>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th colspan="2">
                {% trans %}Number of{% endtrans %}
            </th>
            <th colspan="2">
                {% trans %}Song duration{% endtrans %}
            </th>
            <th colspan="6">
                {% trans %}Metadata{% endtrans %}
            </th>
            <th colspan="3">
                {% trans %}Date of{% endtrans %}
            </th>
        </tr>
        <tr>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Tracks{% endtrans %}</th>
            <th>{% trans %}Artists{% endtrans %}</th>
            <th>{% trans %}Total{% endtrans %}</th>
            <th>{% trans %}Mean{% endtrans %}</th>
            <th>{% trans %}Title{% endtrans %}</th>
            <th>{% trans %}Album{% endtrans %}</th>
            <th>{% trans %}Album artist{% endtrans %}</th>
            <th>{% trans %}Year{% endtrans %}</th>
            <th>{% trans %}Artist{% endtrans %}</th>
            <th>{% trans %}Tag{% endtrans %}</th>
            <th>{% trans %}Most recent choice{% endtrans %}</th>
            <th>{% trans %}Most recent modification{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for playlist in playlists_stats %}
            {% if playlist['stats'].track_count > 0 %}
                <tr>
                    <td>{{ playlist['name'] }}</td>
                    <td>{{ playlist['stats'].track_count }}</td>
                    <td>{{ playlist['stats'].artist_count }}</td>
                    <td class="format-duration">{{ playlist['stats'].total_duration }}</td>
                    <td class="format-duration">{{ playlist['stats'].mean_duration }}</td>
                    <td>{{ playlist['stats'].has_title_count }}</td>
                    <td>{{ playlist['stats'].has_album_count }}</td>
                    <td>{{ playlist['stats'].has_album_artist_count }}</td>
                    <td>{{ playlist['stats'].has_year_count }}</td>
                    <td>{{ playlist['stats'].has_artist_count }}</td>
                    <td>{{ playlist['stats'].has_tag_count }}</td>
                    <td class="format-timestamp">{{ playlist['stats'].most_recent_choice }}</td>
                    <td class="format-timestamp">{{ playlist['stats'].most_recent_mtime }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>

<script src="/static/js/base.js"></script>

{% endblock content %}
