{% extends "base_static.jinja2" %}

{% block title %}
    {% trans %}Share{% endtrans %}
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/share.css">
{% endblock styles %}

{% block content %}

{{ page_heading(gettext('Share')) }}

<p>
    {% trans %}{{ shared_by }} has shared the track: {{ track }}{% endtrans %}
</p>

<p>
    <a href="/share/{{code}}/download/original">{% trans %}Download original file{% endtrans %}</a>
</p>

<p>
    <a href="/share/{{code}}/download/mp3">{% trans %}Download mp3{% endtrans %}</a><br>
</p>

<audio controls preload="metadata">
    <source src="/share/{{code}}/audio" type="audio/webm">
</audio>
<br>

<div class="boxes">
    <img class="box cover-img" src="/share/{{ code }}/cover">
    <div class="box padding lyrics">
        {% if lyrics %}
        {{ lyrics }}
        {% else %}
        <i>">{% trans %}No lyrics found{% endtrans %}</i>
        {% endif %}
    </div>
</div>

{% endblock content %}
