{% extends "base_static.jinja2" %}

{% block title %}
    {% trans %}Playback statistics{% endtrans %}
{% endblock title %}

{% block content %}

{{ page_heading(gettext('Playback statistics')) }}

<button id="day">{% trans %}Day{% endtrans %}</button>
<button id="week">{% trans %}Week{% endtrans %}</button>
<button id="month">{% trans %}Month{% endtrans %}</button>
<button id="year">{% trans %}Year{% endtrans %}</button>
<button id="all">{% trans %}All time{% endtrans %}</button>

<br>

<div id="spinner" class="icon icon-loading spinning"></div>

<div id="charts"></div>

<script src="/static/lib/echarts-5.5.1.js"></script>
<script src="/static/js/stats.js"></script>

{% endblock content %}
