{% extends "base_static.jinja2" %}

{% block title %}
    {% trans %}Edit user{% endtrans %}
{% endblock title %}

{% block content %}

{{ page_heading(gettext('Editing user: %(username)s', username=username), back_url='/users') }}

<form action="/users/edit" method="POST">
    <input type="hidden" name="csrf" value="{{ csrf_token }}">
    <input type="hidden" name="username" value="{{ username }}"><br>
    {% trans %}New username{% endtrans %}<br>
    <input type="text" name="new_username" value="{{ username }}"><br>
    {% trans %}New password (blank to leave unchanged){% endtrans %}<br>
    <input type="password" name="new_password" value=""><br>
    <input type="submit" value="{% trans %}Submit{% endtrans %}">
</form>

{% endblock content %}
